.competition-main {
    max-width: 1900px;
}

.top {
    height: 604px;
    font-family: Inter;
}

.top-divider svg{
    margin-top: 120px;
    margin-left: -90px;
}

.top-divider-text p {
    color: #444444;
    font-size: 21px;
    font-weight: 370;
    line-height: 36px;
    margin-top: -20px;
}

.top-competitions h3{
    color: #000;
    font-size: 58px;
    font-weight: 700;
    margin-top: 169px;
    margin-left: -90px;
}

.top-competitions-text {
    opacity: 0.8;
    font-size: 16px;
    color: #444444;
    font-weight: 400;
    margin-top: 30px;
    line-height: 28px;
    margin-left: -85px;
}

.top-pic {
    margin-right: -205px;
}

.top-pic img {
    width: 602px;
    height: 384px;
    margin-top: 105px;
}

.youtube {
    width: 100vw;
    height: 1166px;
    background-color: #CED4DA;
    margin-left: calc(-50vw + 50%);
}

.youtube-vid lite-youtube{
    width: 1077px;
    height: 486px;
    margin-top: 105px;
    margin-inline: 27.5vw;
}

.youtube-textbox {
    width: 1083px;
    height: 380px;
    margin-inline: 28vw;
    background-color: white;
}

.youtube-title h1 {
    font-size: 40px;
    margin-top: 50px;
    font-weight: 700;
    margin-left: 30px;
    font-family: Inter;
}

.youtube-date {
    width: 125px;
    height: 36px;
}

.youtube-date p {
    font-size: 21px;
    margin-top: 55px;
    font-weight: 600;
    margin-left: 330px;
}

.youtube-text p {
    position: absolute;
    opacity: 0.8;
    font-size: 16px;
    color: #54595e;
    font-weight: 400;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 30px;
    width: 930px;
}

.youtube-btn button {
    width: 178px;
    border: none;
    height: 58px;
    font-size: 16px;
    color: #343A40;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 155px;
    font-family: Inter;
    background-color: #FFC904;
    border-radius: 4px 4px 4px 4px;
}

.youtube-btn button:hover a{
    color: white;
}

.youtube-btn a{
    color: black;
    text-decoration: none;
}

.more-than {
    height: 681px;
    font-family: Inter;
}

.more-than .title h1{
    font-size: 40px;
    margin-top: 80px;
    font-weight: 700;
}

.more-than .subscript p {
    opacity: 0.8;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 300;
    color: #6c757d;
}

.more-than .top-pyramid {
    margin-top: 35px;
}

.more-than .top-pyramid img {
    width: 244px;
    height: 144px;
}

.more-than .mid-pyramid {
    margin-top: 35px;
}

.more-than .mid-pyramid img {
    width: 164px;
    height: 94px;
}

.more-than .low-pyramid {
    margin-top: 35px;
}

.more-than .low-pyramid img {
    width: 104px;
    height: 64px;
}

.top_line_decors {
    top: 2516px;
    left: 220px;
    min-width: 1494px;
    position: absolute;
}

.schedule {
    width: 100vw;
    height: 1598px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.schedule .title h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 100px;
}

.schedule .sc-divider svg{
    margin-top: 30px;
    margin-left: 100px;
}

.comp-schedule-events {
    margin-left: 100px;
}

.comp-schedule-events .date{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 20px;
    position: absolute;
}

.comp-schedule-events .info h5 {
    line-height: 24px;
    text-wrap: nowrap;
    font-weight: 700;
    margin-top: 52px;
    font-size: 20px;
    color: white;
}

.comp-schedule-events .info p{
    margin-left: 125px;
    line-height: 28px;
    color: #DEE2E6;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    opacity: 0.7;
}

.competition-buttons {
    margin-top: 20px;
}

.competition-buttons button {
    width: 90px;
    height: 40px;
    border: none;
    color: #343A40;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FFC904;
    border-radius: 4px 4px 4px 4px;
}

.competition-buttons button:hover a{
    color: white;
}

.competition-buttons a{
    color: black;
    text-decoration: none;
}

.article-td a {
    color: #0059C1;
    text-decoration: underline;
}

.page-num {
    color: white;
}

.sc-media {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    vertical-align: middle;
}

.schedule .sc-vid lite-youtube {
    left: 9vw;
    width: 31vw;
    height: 30vw;
}

.schedule .sc-img img {
    left: 10vw;
    width: 30.5vw;
    height: 30vw;
    margin-top: 50px;
    object-fit: contain;
}

.awards {
    width: 100vw;
    height: 660px;
    font-family: Inter;
    background-color: #0A58CA;
    margin-left: calc(-50vw + 50%);
}

.awards-title h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 13vw;
}

.champs-num h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.champs-title h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.champs-date p {
    opacity: 0.5;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.first-place img {
    z-index: 0;
    margin-top: 28px;
    margin-left: -24.5px;
    position: absolute;
}

.second-place img {
    z-index: 0;
    margin-top: 26px;
    margin-left: -18px;
    position: absolute;
}

.third-place img {
    z-index: 0;
    margin-top: 23px;
    margin-left: -18px;
    position: absolute;
}

.circle img {
    z-index: -999;
    margin-bottom: 15px;
}

.runner-up-1 {
    margin-left: -350px;
}

.runner-up-2 {
    margin-left: -350px;
}

.bottom_line_decors {
    top: 4138px;
    left: 220px;
    height: 28px;
    min-width: 1494px;
    position: absolute;
}

.timeline {
    font-family: Inter;
    height: 3200px;
}

.col-1-title {
    width: 50vw;
    margin-top: 158px;
    margin-left: -300px;
    padding-left: 0vw;
    font-size: 40px;
}

.col-1 svg {
    width: 150px;
    margin-top: 50px;
    margin-left: -320px;
    padding-left: 0vw;
}

.col-1-video {
    width: 30vw;
    height: 30vw;
    margin-top: 100px;
    margin-left: -305px;
    background-color: #D3D3D3;
    border: 2px solid #B1C2F3
}

.col-1-video h1 {
    margin: 0;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.col-1-video p {
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 28px;
}

.col-1-video img {
    width: 26vw;
    height: 20vw;
    margin-top: 0.8vw;
    margin-left: 1.8vw;
    object-fit: contain;
}

.col-2-video {
    width: 30vw;
    height: 30vw;
    margin-top: 285px;
    margin-left: -305px;
    background-color: #D3D3D3;
    border: 2px solid #B1C2F3
}

.col-2-video h1 {
    margin: 0;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.col-2-video p {
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 28px;
}

.col-2-video img {
    width: 26.5vw;
    height: 20vw;
    margin-top: 0.9vw;
    margin-left: 1.7vw;
    object-fit: contain;
}

.col-3-video {
    width: 30vw;
    height: 30vw;
    margin-top: 285px;
    margin-left: -305px;
    background-color: #D3D3D3;
    border: 2px solid #B1C2F3
}

.col-3-video h1 {
    margin: 0;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.col-3-video p {
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 28px;
}

.col-3-video img {
    width: 26vw;
    height: 20vw;
    margin-top: 0.8vw;
    margin-left: 1.8vw;
    object-fit: contain;
}

.col-2 {
    width: 450px;
}

.col-4-video {
    width: 30vw;
    height: 30vw;
    margin-top: 730px;
    margin-left: -120px;
    background-color: #D3D3D3;
    border: 2px solid #B1C2F3;
}

.col-4-video h1 {
    margin: 0;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.col-4-video p {
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 28px;
}

.col-4-video img {
    width: 26.5vw;
    height: 20vw;
    margin-top: 0.9vw;
    margin-left: 1.7vw;
    object-fit: contain;
}

.col-5-video {
    width: 30vw;
    height: 30vw;
    margin-top: 285px;
    margin-left: -120px;
    background-color: #D3D3D3;
    border: 2px solid #B1C2F3;
}

.col-5-video h1 {
    margin: 0;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.col-5-video p {
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 28px;
}

.col-5-video img {
    width: 26vw;
    height: 20vw;
    margin-top: 0.8vw;
    margin-left: 1.8vw;
    object-fit: contain;
}

.visual-timeline {
    margin-left: -300px;
}

.twenty-four img {
    margin-top: 355px;
    margin-left: 21vw;
}

.twenty-four-div svg {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty-three img {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty-three-div svg {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty-two img {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty-two-div svg {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty-one img {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty-one-div svg {
    margin-top: -10px;
    margin-left: 21vw;
}

.twenty img {
    margin-top: -10px;
    margin-left: 21vw;
}

.history {
    width: 100vw;
    height: 959px;
    font-family: Inter;
    background-color: #E9E9E9;
    margin-left: calc(-50vw + 50%);
}

.history-title h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 90px;
    margin-left: 100px;
}

#comp-table {
    width: 77vw;
    height: 580px;
    margin-left: 11vw;
    border-collapse: collapse;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pagination button {
    width: 24px;
    height: 32px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 9px 9px 9px 9px;
}

.pagination button:hover {
    background-color: #F9FAFC;
}

.pagination button.active {
    background-color: #F9FAFC;
}

.year-buttons {
    margin-left: 10.6vw;
    margin-bottom: 8px;
}

.year-buttons button {
    border: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

.year-buttons button:hover {
    background-color: transparent;
    font-weight: 600;
}

.year-buttons button.active {
    font-weight: 600;
}

.competitions-div svg {
    margin-bottom: 25px;
    width: 74.8vw;
}

.table-head{
    background-color: #0A58CA;
    color: white;
}

.table-head tr {
    height: 55px;
}

.table-head tr th{
    padding-left: 10px;
}

tbody tr{
    background-color: white;
    border-bottom: 1pt solid #E1E1E1;
}

tbody tr td {
    padding-left: 10px;
}

@media (max-width: 2100px) {
    .youtube-vid lite-youtube{
        margin-inline: auto;
    }
    
    .youtube-textbox {
        margin-inline: auto;
    }
}

@media (max-width: 1810px) {
    .schedule {
        height: 1298px;
    }

    .schedule .sc-vid lite-youtube {
        width: 30vw;
    }

    .bottom_line_decors {
        top: 3838px;
    }
}

@media screen and (min-width: 1750px) {
    .col-3-video {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1711px) and (max-width: 1950px) {
    .timeline {
        height: 2800px;
    }

    .col-1-title {
        margin-left: 0px;
    }

    .col-1 svg {
        margin-left: -20px;
    }

    .col-1-video {
        height: 35vw;
        margin-left: 0vw;
    }

    .col-2-video {
        height: 35vw;
        margin-left: 0vw;
    }

    .col-3-video {
        height: 35vw;
        margin-left: 0vw;
    }

    .col-4-video {
        height: 35vw;
        margin-left: -3vw;
    }

    .col-5-video {
        height: 35vw;
        margin-left: -3vw;
    }

    .visual-timeline {
        margin-left: 0px;
    }
}

@media (max-width: 1710px) {
    .timeline {
        height: 2800px;
    }

    .col-1-title {
        margin-left: 0px;
    }

    .col-1 svg {
        margin-left: -20px;
    }

    .col-1-video {
        height: 35vw;
        margin-left: 0vw;
    }

    .col-2-video {
        height: 35vw;
        margin-left: 0vw;
    }

    .col-3-video {
        height: 35vw;
        margin-left: 0vw;
    }

    .col-4-video {
        height: 35vw;
        margin-left: -3vw;
    }

    .col-5-video {
        height: 35vw;
        margin-left: -3vw;
    }

    .visual-timeline {
        margin-left: 0px;
    }
}

@media (max-width: 1495px) {
    .top-title {
        display: flex;
        justify-content: start;
        padding-left: 0px;
    }

    .top-competitions-div {
        margin-left: -110px;
        margin-top: 140px;
    }

    .top-title svg {
        display: flex;
        justify-content: start;
        margin-left: 15px;
    }

    .top-divider-text p {
        display: flex;
        justify-content: start;
        margin-left: 100px;
        text-wrap: nowrap;
    }

    .top-competitions-text p {
        text-wrap: nowrap;
    }

    .top-pic img {
        display: flex;
        justify-content: end;
        margin-top: 120px;
        width: 572px;
        height: 364px;
    }
}

@media (max-width: 1422px) {
    .top-pic img {
        margin-top: 130px;
        width: 532px;
        height: 334px;
    }
}

@media (max-width: 1399px) {
    .top-title {
        display: flex;
        justify-content: start;
        margin-left: -50px;
    }

    .top-pic img {
        margin-top: 130px;
        width: 532px;
        height: 334px;
    }

    .top_line_decors {
        top: 2476px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors {
        top: 3798px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 1254px) {
    .top-title {
        display: flex;
        justify-content: start;
        margin-left: -20px;
    }

    .top-pic img {
        margin-top: 150px;
        width: 502px;
        height: 304px;
    }
}

@media (max-width: 1221px) {
    .top-pic img {
        margin-top: 155px;
        width: 492px;
        height: 294px;
    }
}

@media (max-width: 1199px) {
    .top-competitions-div {
        margin-left: -110px;
        margin-top: 0px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -900px;
    }

    .top-pic img {
        width: 802px;
        height: 454px;
    }

    .top_line_decors {
    top: 2516px;
    left: 220px;
    min-width: 1494px;
    position: absolute;
    }

    .top {
        height: 954px;
    }

    .top_line_decors {
        top: 2806px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: 70px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 991px) {
    .top_line_decors {
        top: 2736px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: 0px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 1040px) {
    .top-title {
        margin-left: 30px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -940px;
    }

    .top-pic img {
        width: 802px;
        height: 454px;
    }
}

@media (max-width: 991px) {
    .top-title {
        margin-left: -40px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -740px;
    }

    .top-pic img {
        width: 802px;
        height: 454px;
    }
}

@media (max-width: 883px) {
    .top-title {
        margin-left: -40px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -720px;
    }

    .top-pic img {
        width: 732px;
        height: 414px;
    }

    .top {
        height: 894px;
    }

    .top_line_decors {
        top: 2676px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -60px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 876px) {
    .top-title {
        margin-left: 0px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -750px;
    }

    .top-pic img {
        width: 732px;
        height: 414px;
    }
}

@media (max-width: 767px) {
    .top {
        height: 874px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -595px;
    }

    .top-pic img {
        width: 600px;
    }

    .top_line_decors {
        top: 2666px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -70px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 686px) {
    .top-title {
        margin-left: -10px;
    }

    .top-pic {
        margin-top: 250px;
        margin-left: -575px;
    }

    .top-pic img {
        width: 582px;
        height: 354px;
    }

    .top {
        height: 844px;
    }

    .top_line_decors {
        top: 2636px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -100px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 616px) {
    .top-title {
        margin-left: 0px;
    }

    .top-competitions-text p {
        text-wrap: wrap;
    }

    .top-pic {
        margin-top: 300px;
        margin-left: -560px;
    }

    .top-pic img {
        width: 522px;
        height: 330px;
    }

    .top {
        height: 864px;
    }

    .top_line_decors {
        top: 2656px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -80px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 575px) {
    .top-title {
        margin-left: 20px;
    }

    .top-pic {
        position: absolute;
        margin-top: 300px;
        margin-left: 55px;
    }

    .top-pic img {
        width: 452px;
        height: 300px;
    }

    .top {
        height: 834px;
    }

    .top_line_decors {
        top: 2626px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -110px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 552px) {
    .top-pic {
        margin-left: 65px;
    }

    .top-pic img {
        width: 402px;
        height: 270px;
    }

    .top {
        height: 804px;
    }

    .top_line_decors {
        top: 2596px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -140px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 536px) {
    .top-pic {
        margin-left: 60px;
    }

    .top_line_decors {
        top: 2556px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .bottom_line_decors svg {
        top: -180px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 531px) {
    .top-pic {
        margin-left: 60px;
    }
}

@media (max-width: 526px) {
    .top-pic {
        margin-left: 55px;
    }
}

@media (max-width: 511px) {
    .top-pic {
        margin-left: 55px;
    }
}

@media (max-width: 505px) {
    .top-pic {
        margin-left: 50px;
    }
}

@media (max-width: 495px) {
    .top-pic {
        margin-left: 45px;
    }

    .awards {
        height: 860px;
    }

    .awards-title h1 {
        margin-top: 100px;
    }
}

@media (max-width: 485px) {
    .top-pic {
        margin-left: 40px;
    }
}

@media (max-width: 475px) {
    .top-pic {
        margin-left: 25px;
    }
}

@media (max-width: 1108px) {
    .youtube-vid lite-youtube{
        width: 877px;
        height: 386px;
        margin-top: 105px;
    }

    .youtube-textbox {
        width: 883px;
        height: 420px;
    }

    .youtube-textbox p {
        width: 800px;
    }

    .youtube-date p {
        margin-left: 250px;
    }

    .youtube-btn button {
        margin-top: 205px;
    }
}

@media (max-width: 909px) {
    .youtube-vid lite-youtube{
        width: 677px;
        height: 386px;
        margin-top: 105px;
    }

    .youtube-textbox {
        width: 683px;
        height: 460px;
    }

    .youtube-textbox p {
        width: 600px;
    }

    .youtube-date p {
        margin-left: 160px;
    }

    .youtube-btn button {
        margin-top: 205px;
    }
}

@media (max-width: 702px) {
    .youtube-vid lite-youtube{
        width: 477px;
        height: 396px;
        margin-top: 80px;
    }

    .youtube-textbox {
        width: 483px;
        height: 550px;
    }

    .youtube-textbox p {
        width: 400px;
        margin-top: 10px;
    }

    .youtube-date p {
        margin-left: 60px;
    }

    .youtube-btn button {
        margin-top: 250px;
    }
}

@media (max-width: 504px) {
    .youtube-vid lite-youtube{
        width: 427px;
        height: 396px;
        margin-top: 80px;
    }

    .youtube-textbox {
        width: 435px;
        height: 550px;
    }

    .youtube-textbox p {
        width: 370px;
    }

    .youtube-date p {
        margin-left: 40px;
    }

    .youtube-btn button {
        margin-top: 250px;
    }
}

@media (max-width: 1399px) {
    .more-than .top-pyramid img {
        width: 194px;
        height: 110px;
    }
    
    .more-than .mid-pyramid img {
        width: 144px;
        height: 84px;
    }
    
    .more-than .low-pyramid img {
        width: 104px;
        height: 64px;
    }

    .more-than {
        height: 641px;
    }
}

@media (max-width: 1199px) {
    .more-than .top-pyramid img {
        width: 174px;
        height: 110px;
    }
    
    .more-than .mid-pyramid img {
        width: 134px;
        height: 84px;
    }
    
    .more-than .low-pyramid img {
        width: 94px;
        height: 64px;
    }

    .more-than {
        height: 621px;
    }

    .bottom_line_decors {
    top: 4058px;
    left: 220px;
    height: 28px;
    min-width: 1494px;
    position: absolute;
}
}

@media (max-width: 991px) {
    .more-than .top-pyramid img {
        width: 134px;
        height: 81px;
    }
    
    .more-than .mid-pyramid img {
        width: 94px;
        height: 61px;
    }
    
    .more-than .low-pyramid img {
        width: 64px;
        height: 41px;
    }

    .more-than {
        height: 551px;
    }
}

@media (max-width: 767px) {
    .more-than .top-pyramid img {
        width: 98px;
        height: 61px;
    }
    
    .more-than .mid-pyramid img {
        width: 70px;
        height: 51px;
    }
    
    .more-than .low-pyramid img {
        width: 50px;
        height: 38px;
    }

    .more-than {
        height: 561px;
    }
}

@media (max-width: 537px) {
    .more-than .top-pyramid img {
        width: 78px;
        height: 51px;
    }
    
    .more-than .mid-pyramid img {
        width: 55px;
        height: 35px;
    }
    
    .more-than .low-pyramid img {
        width: 35px;
        height: 25px;
    }

    .more-than {
        height: 521px;
    }
}

@media (max-width: 1301px) {
    .sc-media {
        margin-top: 80px;
        margin-bottom: 10px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .schedule .sc-vid lite-youtube {
        left: 0vw;
        width: 40vw;
        height: 40vw;
        margin-left: 4vw;
    }

    .schedule .sc-img img {
        left: 0vw;
        width: 40vw;
        height: 40vw;
        margin-top: 0px;
        margin-left: 10vw;
    }

    .schedule {
        height: 1800px;
    }

    .bottom_line_decors {
        top: 4298px;
    }

    .competition-buttons {
        position: absolute;
        margin-left: 300px;
    }

    .comp-schedule-events .info p {
        width: 550px;
    }
}

@media (max-width: 1199px) {
    .bottom_line_decors {
        top: 4558px;
    }

    .competition-buttons {
        margin-top: 35px;
    }
}

@media (max-width: 972px) {
    .comp-schedule-events svg {
        width: 80vw;
    }

    .competition-buttons {
        position: absolute;
        margin-left: 23vw;
    }

    .schedule .sc-vid lite-youtube {
        margin-left: 4vw;
    }

    .schedule .sc-img img {
        margin-left: 10vw;
    }

    .schedule .title h1 {
        margin-left: 50px;
    }

    .sc-divider {
        margin-left: -50px;
    }

    .comp-schedule-events {
        margin-left: 50px;
    }

    .comp-schedule-events .info p {
        width: 400px;
    }
}

@media (max-width: 750px) {
    .comp-schedule-events .info h5 {
        text-wrap: wrap;
        width: 250px;
        padding-bottom: 70px;
    }
}

@media (max-width: 651px) {
    .competition-buttons {
        position: absolute;
        margin-left: 17vw;
    }

    .comp-schedule-events .info p {
        width: 300px;
    }
}

@media (max-width: 552px) {
    .schedule {
        height: 2000px;
    }

    .bottom_line_decors {
        top: 4758px;
    }

    .comp-schedule-events .info p {
        width: 260px;
    }
}

@media (max-width: 548px) {
    .competition-buttons {
        position: absolute;
        margin-left: 13vw;
    }
}

@media (max-width: 910px) {
    .history-title h1 {
        margin-left: 10vw;
    }

    .year-buttons {
        margin-left: 10vw;
    }

    .competitions-div {
        margin-left: 0vw;
    }
}

@media (max-width: 1025px) {
    .awards-title h1 {
        margin-left: 5vw;
    }

    .runner-up-1 {
        margin-left: 0px;
    }
    
    .runner-up-2 {
        margin-left: 0px;
    }
}

@media (max-width: 1563px) {
    .col-1-video {
        height: 37vw;
    }

    .col-1-video img {
        height: 20vw;
    }

    .col-2-video {
        height: 37vw;
    }

    .col-2-video img {
        height: 20vw;
    }

    .col-3-video {
        height: 37vw;
    }

    .col-3-video img {
        height: 20vw;
    }

    .col-4-video {
        height: 37vw;
    }

    .col-4-video img {
        height: 20vw;
    }

    .col-5-video {
        height: 37vw;
    }

    .col-5-video img {
        height: 20vw;
    }
}

@media (max-width: 1475px) {
    .col-3-video {
        height: 39vw;
    }

    .col-4-video {
        height: 42vw;
    }
}

@media (max-width: 1399px) {
    .col-4-video {
        margin-left: 4vw;
    }

    .col-5-video {
        margin-left: 4vw;
    }

    .twenty-four img {
        margin-left: 28vw;
    }
    
    .twenty-four-div svg {
        margin-left: 28vw;
    }
    
    .twenty-three img {
        margin-left: 28vw;
    }
    
    .twenty-three-div svg {
        margin-left: 28vw;
    }
    
    .twenty-two img {
        margin-left: 28vw;
    }
    
    .twenty-two-div svg {
        margin-left: 28vw;
    }
    
    .twenty-one img {
        margin-left: 28vw;
    }
    
    .twenty-one-div svg {
        margin-left: 28vw;
    }
    
    .twenty img {
        margin-left: 28vw;
    }
}

@media (max-width: 1393px) {
    .timeline {
        height: 2700px;
    }

}

@media (max-width: 1338px) {
    .col-1-video img {
        height: 18vw;
    }

    .col-2-video img {
        height: 18vw;
    }

    .col-3-video img {
        height: 18vw;
    }

    .col-4-video img {
        height: 18vw;
    }

    .col-5-video img {
        height: 18vw;
    }
}

@media (max-width: 1311px) {
    .col-1-video {
        height: 40vw;
    }

    .col-1-video img {
        height: 18vw;
    }

    .col-2-video img {
        height: 18vw;
    }

    .col-3-video img {
        height: 18vw;
    }

    .col-4-video img {
        height: 18vw;
    }

    .col-5-video {
        height: 40vw;
    }

    .col-5-video img {
        height: 18vw;
    }
}

@media (max-width: 1199px) {
    .twenty-four img {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-four-div svg {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-three img {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-three-div svg {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-two img {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-two-div svg {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-one img {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty-one-div svg {
        margin-left: 13vw;
        margin-right: 150px;
    }
    
    .twenty img {
        margin-left: 13vw;
        margin-right: 150px;
    }

    .col-2 {
        margin-top: -3000px;
        margin-left: 630px;
    }

    .col-4-video {
        margin-top: 1050px;
    }

    .timeline {
        height: 2600px;
    }
}

@media (max-width: 1288px) {
    .col-1-video {
        height: 40vw;
    }

    .col-2-video {
        height: 40vw;
    }

    .col-3-video {
        height: 40vw;
    }

    .col-4-video {
        height: 43vw;
    }

    .col-5-video {
        height: 43vw;
    }
}

@media (max-width: 1269px) {
    .col-1-video {
        height: 43vw;
    }
}

@media (max-width: 1263px) {
    .col-3-video {
        height: 43vw;
    }
}

@media (max-width: 1217px) {
    .col-1-video {
        height: 44vw;
    }

    .col-2-video {
        height: 44vw;
    }

    .col-3-video {
        height: 44vw;
    }

    .col-4-video {
        height: 44vw;
    }

    .col-5-video {
        height: 44vw;
    }
}

@media (max-width: 1076px) {
    .col-1-video {
        height: 46vw;
    }

    .col-2-video {
        height: 46vw;
    }

    .col-3-video {
        height: 46vw;
    }

    .col-4-video {
        height: 46vw;
    }

    .col-5-video {
        height: 46vw;
    }
}

@media (max-width: 991px) {
    .col-1-video {
        height: 46vw;
        margin-left: -5vw;
    }

    .col-2-video {
        height: 46vw;
        margin-left: -5vw;
    }

    .col-3-video {
        height: 46vw;
        margin-left: -5vw;
    }

    .col-4-video {
        height: 46vw;
        margin-left: -12vw;
    }

    .col-5-video {
        height: 46vw;
        margin-left: -12vw;
    }

    .timeline {
        height: 2500px;
    }
}

@media (max-width: 981px) {
    .col-1-video {
        height: 49vw;
    }

    .col-2-video {
        height: 49vw;
    }

    .col-3-video {
        height: 49vw;
    }

    .col-4-video {
        height: 49vw;
        margin-top: 1150px;
    }

    .col-5-video {
        height: 49vw;
    }
}

@media (max-width: 887px) {
    .col-1-video {
        height: 53vw;
    }

    .col-2-video {
        height: 53vw;
    }

    .col-3-video {
        height: 53vw;
    }

    .col-4-video {
        height: 53vw;
    }

    .col-5-video {
        height: 53vw;
    }
}

@media (max-width: 882px) {
    .col-4-video {
        height: 56vw;
        margin-left: -14vw;
    }

    .col-5-video {
        height: 56vw;
        margin-left: -14vw;
    }
}

@media (max-width: 831px) {
    .col-1-video {
        margin-left: 0vw;
    }

    .col-2-video {
        margin-left: 0vw;
    }

    .col-3-video {
        margin-left: 0vw;
    }
    
    .col-3-video {
        height: 56vw;
    }

    .col-4-video {
        height: 60vw;
        margin-left: -17vw;
    }

    .col-5-video {
        margin-left: -17vw;
    }
}

@media (max-width: 799px) {
    .col-1-video {
        height: 57vw;
    }

    .col-2-video {
        height: 57vw;
    }

    .col-3-video {
        height: 60vw;
    }

    .col-4-video {
        height: 67vw;
    }

    .col-5-video {
        height: 60vw;
    }
}

@media (max-width: 767px) { 
    .col-1-video {
        height: 60vw;
        margin-left: -10vw;
    }

    .col-2-video {
        height: 57vw;
        margin-left: -10vw;
    }

    .col-3-video {
        height: 60vw;
        margin-left: -10vw;
    }

    .col-4-video {
        height: 68vw;
        margin-left: -31vw;
    }

    .col-5-video {
        height: 60vw;
        margin-left: -31vw;
    }
}

@media (max-width: 739px) {
    .col-1-video {
        height: 63vw;
    }

    .col-2-video {
        height: 60vw;
    }

    .col-3-video {
        height: 63vw;
    }

    .col-4-video {
        height: 70vw;
        margin-left: -33vw;
    }

    .col-5-video {
        height: 63vw;
        margin-left: -33vw;
    }
}

@media (max-width: 710px) {
    .col-1-video {
        height: 72vw;
    }

    .col-2-video {
        height: 64vw;
    }
}

@media (max-width: 684px) {
    .col-1-video {
        height: 74vw;
        margin-left: -6vw;
    }

    .col-2-video {
        height: 67vw;
        margin-left: -6vw;
    }

    .col-3-video {
        height: 67vw;
        margin-left: -6vw;
    }

    .col-4-video {
        height: 74vw;
        margin-left: -38vw;
    }

    .col-5-video {
        height: 74vw;
        margin-left: -38vw;
    }
}

@media (max-width: 672px) {
    .col-1-video {
        height: 74vw;
    }

    .col-2-video {
        height: 70vw;
    }

    .col-3-video {
        height: 70vw;
    }

    .col-4-video {
        height: 74vw;
        margin-top: 1000px;
    }

    .col-5-video {
        height: 74vw;
    }

    .timeline {
        height: 2600px;
    }
}

@media (max-width: 659px) {
    .col-1-video {
        height: 77vw;
        margin-left: -4vw;
    }

    .col-2-video {
        height: 74vw;
        margin-left: -4vw;
    }

    .col-3-video {
        height: 74vw;
        margin-left: -4vw;
    }

    .col-4-video {
        height: 77vw;
        margin-left: -41vw;
    }

    .col-5-video {
        height: 77vw;
        margin-left: -41vw;
    }
}

@media (max-width: 624px) {
    .col-3-video {
        height: 78vw;
    }
}

@media (max-width: 614px) {
    .col-1-video {
        height: 80vw;
        margin-left: -2vw;
    }

    .col-2-video {
        height: 75vw;
        margin-left: -2vw;
    }

    .col-3-video {
        height: 80vw;
        margin-left: -2vw;
    }

    .col-4-video {
        height: 85vw;
        margin-left: -45vw;
    }

    .col-5-video {
        height: 85vw;
        margin-left: -45vw;
    }
}

@media (max-width: 588px) {
    .col-1-video {
        height: 83vw;
    }

    .col-2-video {
        height: 77vw;
    }

    .col-3-video {
        height: 86vw;
    }

    .col-4-video {
        height: 87vw;
    }

    .col-5-video {
        height: 87vw;
    }
}

@media (max-width: 586px) {
    .col-1-video {
        height: 87vw;
    }
}

@media (max-width: 578px) {
    .col-1-title {
        margin-left: 10vw;
    }

    .col-1 svg {
        margin-left: 6vw;
    }

    .col-1-video {
        height: 94vw;
        margin-left: 0vw;
    }

    .col-2-video {
        height: 80vw;
        margin-left: 0vw;
    }

    .col-3-video {
        height: 89vw;
        margin-left: 0vw;
    }

    .col-4-video {
        height: 89vw;
        margin-left: -48vw;
    }

    .col-5-video {
        height: 89vw;
        margin-left: -48vw;
    }

    .timeline {
        height: 2700px;
    }
}

@media (max-width: 575px) {
    .col-1-video {
        height: 94vw;
        margin-left: 3vw;
    }

    .col-2-video {
        height: 80vw;
        margin-left: 3vw;
    }

    .col-3-video {
        height: 89vw;
        margin-left: 3vw;
    }

    .col-4-video {
        height: 95vw;
    }

    .col-5-video {
        height: 95vw;
    }
}

@media (max-width: 552px) {
    .col-3-video {
        height: 96vw;
    }

    .col-4-video {
        height: 99vw;
        margin-left: -52vw;
    }

    .col-5-video {
        height: 95vw;
        margin-left: -52vw;
    }
}

@media (max-width: 558px) {
    .col-2-video {
        height: 85vw;
    }
}

@media (max-width: 548px) {
    .col-2-video {
        height: 91vw;
        margin-left: -2vw;
    }

    .col-4-video {
        height: 106vw;
    }

    .col-5-video {
        height: 102vw;
    }
}

@media (max-width: 537px) {
    .col-1-video {
        height: 97vw;
    }

    .col-2-video {
        height: 93vw;
    }

    .col-3-video {
        height: 97vw;
    }

    .col-4-video {
        height: 108vw;
    }

    .col-5-video {
        height: 103vw;
    }

    .twenty-four img {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-four-div svg {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-three img {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-three-div svg {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-two img {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-two-div svg {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-one img {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty-one-div svg {
        margin-left: 20vw;
        margin-right: 150px;
    }
    
    .twenty img {
        margin-left: 20vw;
        margin-right: 150px;
    }
}

@media (max-width: 515px) {
    .col-1-video {
        height: 96vw;
        margin-left: -1vw;
    }

    .col-2-video {
        height: 96vw;
        margin-left: -1vw;
    }

    .col-3-video {
        height: 96vw;
        margin-left: -1vw;
    }

    .col-4-video {
        height: 96vw;
    }

    .col-5-video {
        height: 96vw;
    }
}

@media (max-width: 529px) {
    .col-1-video {
        width: 40vw;
        height: 110vw;
        margin-left: 10vw;
    }

    .col-2-video {
        width: 40vw;
        height: 100vw;
        margin-left: 10vw;
    }

    .col-3-video {
        width: 40vw;
        height: 100vw;
        margin-left: 10vw;
    }

    .col-4-video {
        width: 40vw;
        height: 106vw;
        margin-left: -68vw;
    }

    .col-5-video {
        width: 40vw;
        height: 106vw;
        margin-left: -68vw;
    }

    .col-1-video img {
        height: 40vw;
        width: 35vw;
        margin-left: 2vw;
    }

    .col-2-video img {
        height: 40vw;
        width: 35vw;
        margin-left: 2vw;
    }

    .col-3-video img {
        height: 40vw;
        width: 35vw;
        margin-left: 2vw;
    }

    .col-4-video img {
        height: 35vw;
        width: 35vw;
        margin-left: 2vw;
    }

    .col-5-video img {
        height: 35vw;
        width: 35vw;
        margin-left: 2vw;
    }

    .twenty-four img {
        display: none;
    }
    
    .twenty-four-div svg {
        display: none;
    }
    
    .twenty-three img {
        display: none;
    }
    
    .twenty-three-div svg {
        display: none;
    }
    
    .twenty-two img {
        display: none;
    }
    
    .twenty-two-div svg {
        display: none;
    }
    
    .twenty-one img {
        display: none;
    }
    
    .twenty-one-div svg {
        display: none;
    }
    
    .twenty img {
        display: none;
    }

    .timeline {
        height: 2850px;
    }
}

@media (max-width: 511px) {
    .col-1-video {
        height: 112vw;
    }

    .col-2-video {
        height: 107vw;
    }

    .col-3-video {
        height: 107vw;
    }
}

@media (max-width: 495px) {
    .col-4-video {
        width: 40vw;
        height: 110vw;
        margin-left: -74vw;
    }

    .col-5-video {
        width: 40vw;
        height: 110vw;
        margin-left: -74vw;
    }
}

@media (max-width: 484px) {
    .col-4-video {
        width: 40vw;
        height: 104vw;
    }

    .col-5-video {
        width: 40vw;
        height: 104vw;
    }
}

@media (max-width: 484px) {
    .col-1-video {
        width: 40vw;
        height: 111vw;
    }

    .col-2-video {
        width: 40vw;
        height: 111vw;
    }

    .col-3-video {
        width: 40vw;
        height: 111vw;
    }

    .col-4-video {
        width: 40vw;
        height: 106vw;
    }

    .col-5-video {
        width: 40vw;
        height: 106vw;
    }
}

@media (max-width: 494px) {
    .col-1-video {
        width: 40vw;
        height: 116vw;
    }

    .col-2-video {
        width: 40vw;
        height: 110vw;
    }

    .col-3-video {
        width: 40vw;
        height: 110vw;
    }

    .col-4-video {
        width: 40vw;
        height: 110vw;
    }

    .col-5-video {
        width: 40vw;
        height: 114vw;
    }
}

@media (max-width: 475px) {
    .col-4-video {
        width: 40vw;
        height: 115vw;
        margin-left: -80vw;
    }

    .col-5-video {
        width: 40vw;
        height: 115vw;
        margin-left: -80vw;
    }
}

@media (max-width: 472px) {
    .col-1-video {
        width: 40vw;
        height: 118vw;
    }

    .col-2-video {
        width: 40vw;
        height: 115vw;
    }

    .col-3-video {
        width: 40vw;
        height: 115vw;
    }

    .col-4-video {
        width: 40vw;
        height: 115vw;
    }

    .col-5-video {
        width: 40vw;
        height: 115vw;
    }
}

@media (max-width: 468px) {
    .col-3-video {
        width: 40vw;
        height: 120vw;
    }
}

@media (max-width: 462px) {
    .col-4-video {
        width: 40vw;
        height: 114vw;
    }

    .col-5-video {
        width: 40vw;
        height: 114vw;
    }
}

@media (max-width: 460px) {
    .col-1-video {
        width: 40vw;
        height: 122vw;
    }

    .col-2-video {
        width: 40vw;
        height: 116vw;
    }

    .col-3-video {
        width: 40vw;
        height: 121vw;
    }

    .col-4-video {
        width: 40vw;
        height: 117vw;
    }

    .col-5-video {
        width: 40vw;
        height: 117vw;
    }
}

@media (max-width: 457px) {
    .col-4-video {
        width: 40vw;
        height: 123vw;
        margin-left: -86vw;
    }

    .col-5-video {
        width: 40vw;
        height: 123vw;
        margin-left: -86vw;
    }
}

@media (max-width: 654px) {
    .history {
        height: 1059px;
    }

    .history-title h1 {
        height: 0px;
    }

    #comp-table {
        margin-top: -30px;
    }

    .year-buttons {
        margin-bottom: -15px;
    }
}

@media (max-width: 575px) {
    .history-title h1 {
        height: 90px;
    }

    #comp-table {
        margin-top: -10px;
    }

    .year-buttons {
        margin-bottom: 0px;
    }
}

@media (max-width: 468px) {
    .history {
        height: 1150px;
    }

    .history-title h1 {
        height: 50px;
    }

    #comp-table {
        margin-top: -50px;
    }

    .competitions-div {
        margin-left: 2vw;
    }

    .year-buttons {
        margin-bottom: 0px;
        margin-left: 8vw;
    }
}

@media (max-width: 459px) {
    .history-title h1 {
        height: 120px;
    }
}

@media (max-width: 883px) {
    .year-buttons {
        width: 70vw;
    }
}

@media (max-width: 437px) {
    .more-than .top-pyramid img {
        width: 70px;
    }

    .more-than .mid-pyramid img {
        width: 60px;
    }

    .more-than .low-pyramid img {
        width: 50px;
    }
}

@media (max-width: 428px) {
    .top-pic {
        margin-left: 11px;
    }

    .youtube-vid {
        margin-left: -11.5px;
    }

    .youtube-title h1 {
        margin-left: 0px;
    }
    
    .youtube-text p {
        margin-left: 0px;
    }

    .youtube-date p {
        padding-top: 150px;
    }
    
    .youtube-btn button {
        margin-left: 0px;
    }

    .more-than .top-pyramid img {
        width: 75px;
    }

    .more-than .mid-pyramid img {
        width: 63px;
    }

    .more-than .low-pyramid img {
        width: 50px;
    }

    .col-1-video {
        height: 140vw;
    }

    .col-2-video {
        height: 120vw;
    }

    .col-3-video {
        height: 133vw;
    }

    .col-4-video {
        margin-left: -94vw;
        height: 127vw;
    }

    .col-5-video {
        margin-left: -94vw;
        height: 127vw;
    }

    .col-1-video img {
        height: 38vw;
    }

    .col-2-video img {
        height: 38vw;
    }

    .col-3-video img {
        height: 38vw;
    }

    .col-4-video img {
        height: 32vw;
    }

    .col-5-video img {
        height: 32vw;
    }
}

@media (max-width: 414px) {
    .top-pic {
        margin-left: 5px;
    }

    .youtube-vid {
        margin-left: -12px;
    }

    .more-than .top-pyramid img {
        width: 72px;
    }

    .more-than .mid-pyramid img {
        width: 60px;
    }

    .more-than .low-pyramid img {
        width: 49px;
    }

    .col-1-video {
        height: 140vw;
    }

    .col-2-video {
        height: 126vw;
    }

    .col-3-video {
        height: 140vw;
    }

    .col-4-video {
        margin-left: -99vw;
        height: 140vw;
    }

    .col-5-video {
        margin-left: -99vw;
        height: 135vw;
    }

    .col-1-video img {
        width: 35vw;
        height: 35vw;
        margin-left: 2vw;
    }

    .col-2-video img {
        width: 35vw;
        height: 35vw;
        margin-left: 2vw;
    }

    .col-3-video img {
        width: 35vw;
        height: 35vw;
        margin-left: 2vw;
    }

    .col-4-video img {
        width: 35vw;
        height: 30vw;
        margin-left: 2vw;
    }

    .col-5-video img {
        width: 35vw;
        height: 30vw;
        margin-left: 2vw;
    }
}

@media (max-width: 407px) {
    .more-than .top-pyramid img {
        width: 60px;
    }

    .more-than .mid-pyramid img {
        width: 50px;
    }

    .more-than .low-pyramid img {
        width: 40px;
    }
}

@media (max-width: 404px) {
    .col-1-video img {
        width: 35vw;
        height: 30vw;
        margin-left: 2vw;
    }

    .col-2-video img {
        width: 35vw;
        height: 30vw;
        margin-left: 2vw;
    }

    .col-3-video img {
        width: 35vw;
        height: 30vw;
        margin-left: 2vw;
    }

    .col-4-video img {
        width: 35vw;
        height: 25vw;
        margin-left: 2vw;
    }

    .col-5-video img {
        width: 35vw;
        height: 25vw;
        margin-left: 2vw;
    }
}

@media (max-width: 394px) {
    .col-1-video img {
        width: 35vw;
        height: 20vw;
        margin-left: 2vw;
    }

    .col-2-video img {
        width: 35vw;
        height: 20vw;
        margin-left: 2vw;
    }

    .col-3-video img {
        width: 35vw;
        height: 20vw;
        margin-left: 2vw;
    }

    .col-4-video img {
        width: 35vw;
        height: 15vw;
        margin-left: 2vw;
    }

    .col-5-video img {
        width: 35vw;
        height: 15vw;
        margin-left: 2vw;
    }
}

@media (max-width: 390px) {
    .top-pic {
        margin-left: -28px;
    }
}

@media (max-width: 382px) {
    .col-4-video {
        margin-left: -115vw;
    }

    .col-5-video {
        margin-left: -115vw;
    }
}


@media (max-width: 375px) {
    .top-competitions h3{
        font-size: 50px;
    }

    .top-pic {
        margin-top: 320px;
        margin-left: -15px;
    }

    .youtube-vid lite-youtube {
        width: 375px;
    }

    .youtube-date p {
        margin-left: 0px;
    }

    .youtube-textbox p {
        width: 340px;
    }

    .more-than .top-pyramid img {
        width: 60px;
    }

    .more-than .mid-pyramid img {
        width: 50px;
    }

    .more-than .low-pyramid img {
        width: 40px;
    }

    .col-2-video {
        height: 132vw;
    }

    .col-4-video {
        height: 155vw;
    }

    .col-5-video {
        height: 140vw;
    }
}