.gallery-header {
    width: 100vw;
    height: 324px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.gallery-header h1 {
    color: white;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 95px;
}

.gallery-header svg {
    margin-bottom: 100px;
}

.photo-group-1 {
    width: 100vw;
    height: 1562px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.group-1-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-1-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-1-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.group-1-date p {
    font-size: 21px;
    font-weight: 600;
    color: #FFFFFF;
    text-wrap: nowrap;
    display: flex;
    margin-top: -860px;
    padding-right: 60px;
    justify-content: end;
}

.photo-group-2 {
    width: 100vw;
    height: 907px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.group-2-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-2-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-2-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.group-2-date p {
    font-size: 21px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 600px;
    text-wrap: nowrap;
}

.video-group {
    width: 100vw;
    height: 1008px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.video-group-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.video-group-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.video-group-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.video-1 iframe {
    width: 900px;
    height: 564px;
    margin-left: 90px;
}

.video-2 iframe {
    width: 580px;
    height: 564px;
}

.photo-group-3 {
    width: 100vw;
    height: 1100px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.group-3-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-3-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-3-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.col-1-photo-group {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
    width: 99vw;
    margin-top: 50px;
    padding-left: 91px;
    padding-right: 91px;
}

.col-1-photo-1 img {
    width: 844px;
    height: 562px;
}

.col-1-photo-2 img {
    width: 844px;
    height: 562px;
}

.col-2-photo-group {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
    width: 99vw;
    padding-left: 105px;
    padding-right: 70px;
    margin-top: -50px;
}

.col-2-photo-1 img {
    margin-top: 0px;
    height: 650px;
    width: 40vw;
}

.col-2-photo-2 img {
    margin-top: 0px;
    height: 650px;
    width: 61vw;
}

.group-2-photos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: center;
    margin-left: 80px;
    margin-bottom: 30px;
}

.group-2-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.col-3-photo img {
    width: 814px;
    height: 492px;
}

.col-4-photo img {
    width: 930px;
    height: 492px;
    padding-right: 110px;
}

.swiper-row {
    z-index: 0;
}

.swiper-photo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 70px;
}

.swiper-photo img {
    width: 1150px;
    height: 652px;
}

.swiper-pagination-fraction {
    color: white !important;
    margin-bottom: 0px;
    font-size: 18px;
    margin-left: 0.8vw
}

.swiper-button-prev {
    margin-left: 40px;
    padding-right: 45px;
}

@media (max-width: 1642px) {
    .video-1 iframe {
        width: 850px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 530px;
        height: 564px;
    }
}

@media (max-width: 1541px) {
    .video-1 iframe {
        width: 800px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 480px;
        height: 564px;
    }
}

@media (max-width: 1441px) {
    .video-1 iframe {
        width: 750px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 430px;
        height: 564px;
    }
}

@media (max-width: 1341px) {
    .video-1 iframe {
        width: 700px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 380px;
        height: 564px;
    }
}

@media (max-width: 1241px) {
    .video-1 iframe {
        width: 650px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 1191px) {
    .video-1 iframe {
        width: 580px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 1121px) {
    .video-1 iframe {
        width: 520px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 1061px) {
    .video-1 iframe {
        width: 450px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 991px) {
    .video-1 iframe {
        width: 380px;
        height: 564px;
        margin-left: 90px;
    }

    .swiper-pagination-fraction {
        margin-bottom: -6px;
        margin-left: 2.5vw;
    }
}

@media (max-width: 921px) {
    .video-1 iframe {
        width: 710px;
        height: 564px;
        margin-left: 90px;
        margin-top: 60px;
    }

    .video-2 iframe {
        width: 710px;
        height: 564px;
        margin-top: 60px;
        margin-left: 90px;
    }

    .photo-group-3 {
        padding-top: 600px;
    }
}

@media (max-width: 850px) {
    .video-1 iframe {
        width: 640px;
    }

    .video-2 iframe {
        width: 640px;
    }
}

@media (max-width: 774px) {
    .video-1 iframe {
        width: 600px;
    }

    .video-2 iframe {
        width: 400px;
    }
}

@media (max-width: 736px) {
    .video-1 iframe {
        width: 550px;
    }

    .video-2 iframe {
        width: 550px;
    }
}

@media (max-width: 684px) {
    .video-1 iframe {
        width: 500px;
    }

    .video-2 iframe {
        width: 500px;
    }
}

@media (max-width: 631px) {
    .video-1 iframe {
        width: 450px;
    }

    .video-2 iframe {
        width: 450px;
    }

    .photo-group-3 {
        padding-top: 600px;
    }
}

@media (max-width: 578px) {
    .video-1 iframe {
        width: 400px;
    }

    .video-2 iframe {
        width: 400px;
    }
}

@media (max-width: 537px) {
    .video-1 iframe {
        width: 350px;
    }

    .video-2 iframe {
        width: 350px;
    }
}

@media (max-width: 450px) {
    .video-1 iframe {
        width: 300px;
    }

    .video-2 iframe {
        width: 300px;
    }
}

@media (max-width: 1623px) {
    .group-2-date p {
        display: flex;
        margin-top: -270px;
        padding-right: 50px;
        justify-content: end;
    }
}

@media (max-width: 1511px) {
    .group-2-date p {
        display: flex;
        margin-top: -270px;
        padding-right: 50px;
        justify-content: end;
    }
}

@media (max-width: 1495px) {
    .group-1-date p {
        display: flex;
        margin-top: -860px;
        padding-right: 55px;
        justify-content: end;
    }

    .group-2-date p {
        display: flex;
        margin-top: -265px;
        padding-right: 50px;
        justify-content: end;
    }

    .swiper-pagination-fraction {
        margin-bottom: -6px;
    }
    
}

@media (max-width: 835px) {
    .group-1-date p {
        padding-top: 195px;
        margin-top: -1620px;
    }

    .group-2-date p {
        margin-top: -62px;
    }
}

@media (max-width: 697px) {
    .group-1-header h1 {
        text-wrap: wrap;
    }

    .group-1-header p {
        text-wrap: wrap;
        width: 500px;
    }

    .group-1-date p {
       position: absolute;
       margin-left: 230px;
       margin-top: -1000px;
       padding-top: 205px;
    }

    .col-2-photo-1 img {
        margin-top: -780px !important;
    }

    .col-2-photo-2 img {
        margin-top: -200px !important;
    }

    .group-2-header h1 {
        text-wrap: wrap;
    }

    .group-2-header p {
        text-wrap: wrap;
        width: 500px;
    }

    .group-2-date p {
        position: absolute;
        margin-left: 230px;
        margin-top: -25px;
    }

    .group-2-photos {
        margin-top: 50px;
    }

    .video-group-header h1 {
        text-wrap: wrap;
    }

    .video-group-header p {
        text-wrap: wrap;
        width: 500px;
    }

    .group-3-header h1 {
        text-wrap: wrap;
    }

    .group-3-header p {
        text-wrap: wrap;
        width: 500px;
    }
}

@media (max-width: 627px) {
    .group-1-date p {
        margin-top: -1607px;
     }

    .col-2-photo-1 img {
        margin-top: -750px !important;
    }

    .col-2-photo-2 img {
        margin-top: -170px !important;
    }
}

@media (max-width: 622px) {
    .group-1-header p {
        text-wrap: wrap;
        width: 360px;
    }

    .group-1-date p {
        position: absolute;
        margin-left: 230px;
        margin-top: -1000px;
        padding-top: 210px;
     }

    .group-2-header p {
        text-wrap: wrap;
        width: 360px;
    }

    .group-2-date p {
        position: absolute;
        margin-left: -300px;
        margin-top: 390px;
    }

    .photo-group-2 {
        height: 1507px !important;
    }

    .video-group-header p {
        text-wrap: wrap;
        width: 360px;
    }

    .group-3-header p {
        text-wrap: wrap;
        width: 360px;
    }
}

@media (max-width: 458px) {
    .group-1-header p {
        text-wrap: wrap;
        width: 300px;
    }

    .group-1-date p {
        margin-top: -1620px;
     }

    .group-2-header p {
        text-wrap: wrap;
        width: 300px;
    }

    .group-2-date p {
        position: absolute;
        margin-left: 230px;
        margin-top: -32px;
    }

    .video-group-header p {
        text-wrap: wrap;
        width: 300px;
    }

    .group-3-header p {
        text-wrap: wrap;
        width: 300px;
    }
}

@media (max-width: 1050px) {
    .group-1-date p {
        margin-top: -1810px;
    }

    .photo-group-1 {
        height: 2662px;
    }

    .col-1-photo-group {
        display: flex;
        align-items: normal;
        align-self: normal;
        gap: 0px;
        width: 99vw;
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-1-photo-1 img {
        width: 99vw;
        height: 562px;
        position: absolute;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .col-1-photo-2 img {
        height: 562px;
        width: 99vw;
        margin-top: 580px;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .col-2-photo-group {
        display: flex;
        align-items: normal;
        align-self: normal;
        gap: 0px;
        width: 99vw;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }
    
    .col-2-photo-1 img {
        width: 99vw;
        height: 562px;
        margin-left: 10px;
        margin-top: -800px;
        position: absolute;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .col-2-photo-2 img {
        width: 99vw;
        height: 562px;
        margin-left: 10px;
        margin-top: -220px;
        position: absolute;
        padding-left: 90px;
        padding-right: 90px;
    }

    .photo-group-2 {
        height: 1407px;
    }

    .group-2-photos {
        display: flex;
        flex-direction: normal;
        align-items: normal;
        gap: 0px;
        align-self: normal;
        margin-left: 80px;
    }
    
    .group-2-container {
        display: flex;
        align-items: normal;
        gap: 0px;
        align-self: normal;
    }
    
    .col-3-photo img {
        margin-bottom: 500px;
        padding-right: 100px;
        width: 1100px;
    }

    .col-4-photo {
        position: absolute;
        margin-left: 0px;
    }
    
    .col-4-photo img {
        margin-top: 510px;
        padding-right: 67px;
    }
}

@media (max-width: 921px) {
    .photo-group-3 {
        width: 100vw;
        height: 1700px;
    }

    .swiper-photo {
        margin-bottom: 80px;
    }

    .swiper-pagination-fraction {
        margin-bottom: 15px;
    }
}

@media (max-width: 677px) {
    .swiper-button-prev {
        margin-left: 25px;
        padding-right: 0px;
    }

    .swiper-photo {
        padding-top: 80px;
        margin-left: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .swiper-pagination-fraction {
        margin-bottom: -15px;
        margin-right: -10px;
    }
}

@media (max-width: 622px) {
    .video-group {
        height: 1108px;
    }

    .photo-group-3 {
        width: 100vw;
        height: 1790px;
    }

    .swiper-photo {
        margin-top: 10px;
    }

    .swiper-pagination-fraction {
        margin-bottom: -15px;
        margin-left: 10px;
    }
}

@media (max-width: 455.5px) {
    .photo-group-1 {
        height: 2762px;
    }

    .group-1-date {
        margin-top: -30px;
     }
    
    .col-2-photo-1 img {
        margin-top: -780px !important;
    }

    .col-2-photo-2 img {
        margin-top: -200px !important;
    }
}

@media (max-width: 428px) {
    .swiper-pagination-fraction {
        display: none;
    }

    .group-1-date p {
        margin-left: 60vw;
        margin-top: -1810px;
     }

    .group-2-date p {
        position: absolute;
        margin-left: -30vw;
        margin-top: 390px;
    }

    .group-1-header p {
        width: 70vw;
    }

    .group-2-header p {
        width: 70vw;
    }

    .video-group-header p {
        width: 70vw;
    }

    .group-3-header p {
        width: 70vw;
    }

    .video-group {
        height: 1158px;
    }

    .video-1 iframe {
        width: 65vw;
    }

    .video-2 iframe {
        width: 65vw;
    }

    .photo-group-3 {
        height: 1830px;
    }

    .group-1-header h1 {
        margin-left: 10px;
    }

    .group-1-header p {
        margin-left: 10px;
    }

    .group-1-header svg {
        margin-left: 10px;
    }

    .group-2-header h1 {
        margin-left: 10px;
    }

    .group-2-header p {
        margin-left: 10px;
    }

    .group-2-header svg {
        margin-left: 10px;
    }

    .group-3-header h1 {
        margin-left: 10px;
    }

    .group-3-header p {
        margin-left: 10px;
    }

    .group-3-header svg {
        margin-left: 10px;
    }

    .video-group h1 {
        margin-left: 10px;
    }

    .video-group p {
        margin-left: 10px;
    }

    .video-group svg {
        margin-left: 10px;
    }

    .col-1-photo-1 img {
        padding-left: 0vw;
        padding-right: 5vw;
    }

    .col-1-photo-2 img {
        padding-left: 0vw;
        padding-right: 5vw;
    }

    .col-2-photo-group {
        margin-top: -40px;
    }

    .col-2-photo-1 img {
        padding-left: 0vw;
        padding-right: 5vw;
    }

    .col-2-photo-2 img {
        padding-left: 0vw;
        padding-right: 5vw;
    }

    .video-1 iframe {
        margin-left: 0px;
        width: 95vw;
    }

    .video-2 iframe {
        margin-left: 0px;
        width: 95vw;
    }

    .swiper-row {
        margin-left: 2px;
    }

    .swiper-photo {
        width: 100vw;
        margin-left: 0vw;
        padding-left: 0vw;
        padding-right: 0vw;
    }

    .group-2-photos {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .col-3-photo img {
        padding-right: 0px;
        margin-left: 12px;
    }
    
    .col-4-photo img {
        padding-right: 10px;
    }
}

@media (max-width: 414px) {
    .group-1-date p {
        margin-left: 55vw;
        margin-top: -1805px;
     }

     .group-2-date p {
        position: absolute;
        margin-left: -30vw;
        margin-top: 390px;
    }

    .col-2-photo-group {
        margin-top: 20px;
    }

    .photo-group-2 {
        height: 1557px !important;
    }
}

@media (max-width: 375px) {
    .group-1-date p {
        margin-left: 55vw;
        margin-top: -1795px;
     }

    .group-2-date p {
        position: absolute;
        margin-left: 200px;
        margin-top: -50px;
    }
}