.gallery-header {
    width: 100vw;
    height: 324px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.gallery-header h1 {
    color: white;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 95px;
}

.gallery-header svg {
    margin-bottom: 100px;
}

.photo-group-1 {
    width: 100vw;
    height: 1500px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.group-1-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-1-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-1-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.photo-group-2 {
    width: 100vw;
    height: 907px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.group-2-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-2-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-2-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.video-group {
    width: 100vw;
    height: 930px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.video-group-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.video-group-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.video-group-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.video-1 iframe {
    width: 900px;
    height: 564px;
    margin-left: 90px;
}

.video-2 iframe {
    width: 580px;
    height: 564px;
}

.photo-group-3 {
    width: 100vw;
    height: 1100px;
    font-family: Inter;
    background-color: black;
    margin-left: calc(-50vw + 50%);
}

.group-3-header h1 {
    margin: 40px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-3-header p {
    margin: 40px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin-left: 90px;
    text-wrap: nowrap;
}

.group-3-header svg {
    margin-left: 40px;
    margin-left: 90px;
}

.photo-grid-wrapper {
    position: absolute;
    margin-left: 90px;
    margin-top: 350px;
    display: flex;
    gap: 20px;
}

.column {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.photo img {
    object-fit: cover;
}

.photo-1 img {
    width: 50vw;
}

.photo-2 img {
    width: 50vw;
}

.photo-3 {
    margin-inline: auto;
}

.photo-3 img {
    width: 35vw;
    height: 67vw;
}

.photo-grid-wrapper-2 {
    margin-top: -230px;
    position: absolute;
    margin-left: 90px;
    display: flex;
    gap: 20px;
}

.photo-4 img {
    width: 40vw;
    height: 30vw;
}

.photo-5 img {
    width: 45vw;
}

@media (max-width: 1590px) {
    .photo-group-1 {
        height: 1400px;
    }
}

@media (max-width: 1480px) {
    .photo-group-1 {
        height: 1300px;
    }

    .photo-group-2 {
        height: 839px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -200px;
    }
}

@media (max-width: 1350px) {
    .photo-group-1 {
        height: 1250px;
    }

    .photo-group-2 {
        height: 750px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -180px;
    }
}

@media (max-width: 1250px) {
    .photo-group-1 {
        height: 1200px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -170px;
    }
}

@media (max-width: 1150px) {
    .photo-group-1 {
        height: 1100px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -155px;
    }
}

@media (max-width: 1050px) {
    .photo-group-1 {
        height: 1050px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -145px;
    }
}

@media (max-width: 980px) {
    .photo-group-1 {
        height: 1000px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -135px;
    }
}

@media (max-width: 910px) {
    .photo-grid-wrapper {
        flex-direction: column;
    }

    .photo-group-1 {
        height: 2220px;
    }

    .photo-1 img {
        width: 80vw;
    }
    
    .photo-2 img {
        width: 80vw;
    }
    
    .photo-3 {
        margin-inline: 0;
    }
    
    .photo-3 img {
        width: 80vw;
        height: 100vw;
    }

    .photo-grid-wrapper-2 {
        margin-top: -510px;
        flex-direction: column;
    }

    .photo-group-2 {
        height: 1450px;
    }

    .photo-4 img {
        height: 60vw;
        width: 80vw;
    }
    
    .photo-5 img {
        width: 80vw;
    }
}

@media (max-width: 880px) {
    .photo-group-1 {
        height: 2200px;
    }

    .photo-group-2 {
        height: 1400px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -480px;
    }
}

@media (max-width: 850px) {
    .photo-group-1 {
        height: 2150px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -470px;
    }
}

@media (max-width: 820px) {
    .photo-group-1 {
        height: 2100px;
    }

    .photo-group-2 {
        height: 1350px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -450px;
    }
}

@media (max-width: 800px) {
    .photo-group-1 {
        height: 2050px;
    }
}

@media (max-width: 770px) {
    .photo-group-1 {
        height: 2000px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -420px;
    }
}

@media (max-width: 740px) {
    .photo-group-1 {
        height: 1950px;
    }
}

@media (max-width: 710px) {
    .photo-group-1 {
        height: 1900px;
    }

    .photo-grid-wrapper {
        margin-top: 370px;
    }

    .photo-group-2 {
        height: 1300px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -400px;
    }
}

@media (max-width: 697px) {
    .photo-grid-wrapper-2 {
        margin-top: -400px;
    }

    .photo-group-2 {
        height: 1250px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -370px;
    }
}

@media (max-width: 680px) {
    .photo-group-1 {
        height: 1850px;
    }
}

@media (max-width: 650px) {
    .photo-group-1 {
        height: 1800px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -350px;
    }

    .photo-group-2 {
        height: 1200px;
    }
}

@media (max-width: 620px) {
    .photo-group-1 {
        height: 1750px;
    }

    .photo-grid-wrapper {
        margin-top: 390px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -330px;
    }

    .photo-group-2 {
        height: 1200px;
    }
}

@media (max-width: 620px) {
    .photo-group-1 {
        height: 1750px;
    }
}

@media (max-width: 590px) {
    .photo-group-1 {
        height: 1700px;
    }
}

@media (max-width: 580px) {
    .photo-grid-wrapper {
        margin-left: 0px;
        margin-top: 410px;
        align-items: center;
    }

    .group-1-header h1 {
        margin-left: 7vw;
    }
    
    .group-1-header p {
        margin-left: 7vw;
    }
    
    .group-1-header svg {
        margin-left: 7vw;
    }

    .photo-grid-wrapper-2 {
        margin-left: 0px;
        align-items: center;
    }

    .group-2-header h1 {
        margin-left: 7vw;
    }
    
    .group-2-header p {
        margin-left: 7vw;
    }
    
    .group-2-header svg {
        margin-left: 7vw;
    }

    .photo-grid-wrapper-2 {
        margin-top: -310px;
    }

    .video-group-header h1 {
        margin-left: 7vw;
    }
    
    .video-group-header p {
        margin-left: 7vw;
    }
    
    .video-group-header svg {
        margin-left: 7vw;
    }

    .photo-group-2 {
        height: 1150px;
    }

    .group-3-header h1 {
        margin-left: 7vw;
    }
    
    .group-3-header p {
        margin-left: 7vw;
    }
    
    .group-3-header svg {
        margin-left: 7vw;
    }
}

@media (max-width: 550px) {
    .photo-group-1 {
        height: 1600px;
    }

    .photo-group-2 {
        height: 1100px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -290px;
    }
}

@media (max-width: 520px) {
    .photo-group-1 {
        height: 1500px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -260px;
    }
}

@media (max-width: 490px) {
    .photo-group-1 {
        height: 1420px;
    }
}

.swiper-row {
    z-index: 0;
}

.swiper-photo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 70px;
}

.swiper-photo img {
    width: 1150px;
    height: 652px;
    object-fit: contain;
}

.swiper-pagination-fraction {
    color: white !important;
    margin-bottom: 0px;
    font-size: 18px;
    margin-left: 0.8vw
}

.swiper-button-prev {
    margin-left: 40px;
    padding-right: 45px;
}

@media (max-width: 1642px) {
    .video-1 iframe {
        width: 850px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 530px;
        height: 564px;
    }
}

@media (max-width: 1541px) {
    .video-1 iframe {
        width: 800px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 480px;
        height: 564px;
    }
}

@media (max-width: 1441px) {
    .video-1 iframe {
        width: 750px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 430px;
        height: 564px;
    }
}

@media (max-width: 1341px) {
    .video-1 iframe {
        width: 700px;
        height: 564px;
        margin-left: 90px;
    }
    
    .video-2 iframe {
        width: 380px;
        height: 564px;
    }
}

@media (max-width: 1241px) {
    .video-1 iframe {
        width: 650px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 1191px) {
    .video-1 iframe {
        width: 580px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 1121px) {
    .video-1 iframe {
        width: 520px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 1061px) {
    .video-1 iframe {
        width: 450px;
        height: 564px;
        margin-left: 90px;
    }
}

@media (max-width: 991px) {
    .video-1 iframe {
        width: 380px;
        height: 564px;
        margin-left: 90px;
    }

    .swiper-pagination-fraction {
        margin-bottom: -6px;
        margin-left: 2.5vw;
    }
}

@media (max-width: 921px) {
    .video-1 iframe {
        width: 710px;
        height: 564px;
        margin-left: 90px;
        margin-top: 60px;
    }

    .video-2 iframe {
        width: 710px;
        height: 564px;
        margin-top: 60px;
        margin-left: 90px;
    }

    .photo-group-3 {
        padding-top: 600px;
    }
}

@media (max-width: 850px) {
    .video-1 iframe {
        width: 640px;
    }

    .video-2 iframe {
        width: 640px;
    }
}

@media (max-width: 774px) {
    .video-1 iframe {
        width: 600px;
    }

    .video-2 iframe {
        width: 600px;
    }
}

@media (max-width: 736px) {
    .video-1 iframe {
        width: 550px;
    }

    .video-2 iframe {
        width: 550px;
    }
}

@media (max-width: 684px) {
    .video-1 iframe {
        width: 500px;
    }

    .video-2 iframe {
        width: 500px;
    }
}

@media (max-width: 631px) {
    .video-1 iframe {
        width: 450px;
    }

    .video-2 iframe {
        width: 450px;
    }

    .photo-group-3 {
        padding-top: 600px;
    }
}

@media (max-width: 578px) {
    .video-1 iframe {
        width: 400px;
        margin-left: 7vw;
    }

    .video-2 iframe {
        width: 400px;
        margin-left: 7vw;
    }
}

@media (max-width: 537px) {
    .video-1 iframe {
        width: 350px;
    }

    .video-2 iframe {
        width: 350px;
    }
}

@media (max-width: 450px) {
    .video-1 iframe {
        width: 350px;
    }

    .video-2 iframe {
        width: 350px;
    }
}

@media (max-width: 1495px) {
    .swiper-pagination-fraction {
        margin-bottom: -6px;
    }
    
}

@media (max-width: 835px) {
    .group-2-header p {
        width: 600px;
        text-wrap: wrap;
    }
}

@media (max-width: 697px) {
    .group-1-header h1 {
        text-wrap: wrap;
    }

    .group-1-header p {
        text-wrap: wrap;
        width: 500px;
    }

    .group-2-header h1 {
        text-wrap: wrap;
    }

    .group-2-header p {
        text-wrap: wrap;
        width: 500px;
    }

    .video-group-header h1 {
        text-wrap: wrap;
    }

    .video-group-header p {
        text-wrap: wrap;
        width: 500px;
    }

    .group-3-header h1 {
        text-wrap: wrap;
    }

    .group-3-header p {
        text-wrap: wrap;
        width: 500px;
    }
}

@media (max-width: 622px) {
    .group-1-header p {
        text-wrap: wrap;
        width: 360px;
    }

    .group-2-header p {
        text-wrap: wrap;
        width: 360px;
    }

    .video-group-header p {
        text-wrap: wrap;
        width: 360px;
    }

    .group-3-header p {
        text-wrap: wrap;
        width: 360px;
    }
}

@media (max-width: 458px) {
    .group-1-header p {
        text-wrap: wrap;
        width: 300px;
    }

    .group-2-header p {
        text-wrap: wrap;
        width: 300px;
    }

    .video-group-header p {
        text-wrap: wrap;
        width: 300px;
    }

    .group-3-header p {
        text-wrap: wrap;
        width: 300px;
    }
}

@media (max-width: 921px) {
    .photo-group-3 {
        width: 100vw;
        height: 1700px;
    }

    .swiper-photo {
        margin-bottom: 80px;
    }

    .swiper-pagination-fraction {
        margin-bottom: 15px;
    }
}

@media (max-width: 677px) {
    .swiper-button-prev {
        margin-left: 25px;
        padding-right: 0px;
    }

    .swiper-photo {
        padding-top: 80px;
        margin-left: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .swiper-pagination-fraction {
        margin-bottom: -15px;
        margin-right: -10px;
    }
}

@media (max-width: 622px) {
    .video-group {
        height: 1008px;
    }

    .photo-group-3 {
        width: 100vw;
        height: 1790px;
    }

    .swiper-photo {
        margin-top: 10px;
    }

    .swiper-pagination-fraction {
        margin-bottom: -15px;
        margin-left: 10px;
    }
}

@media (max-width: 428px) {
    .swiper-pagination-fraction {
        display: none;
    }

    .photo-group-1 {
        height: 1320px;
    }

    .group-1-header p {
        width: 70vw;
    }

    .photo-group-2 {
        height: 990px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -230px;
    }

    .group-2-header p {
        width: 70vw;
    }

    .video-group-header p {
        width: 70vw;
    }

    .group-3-header p {
        width: 70vw;
    }

    .video-group {
        height: 950px;
    }

    .photo-group-3 {
        height: 1830px;
    }

    .group-1-header h1 {
        margin-left: 10px;
    }

    .group-1-header p {
        margin-left: 10px;
    }

    .group-1-header svg {
        margin-left: 10px;
    }

    .group-2-header h1 {
        margin-left: 10px;
    }

    .group-2-header p {
        margin-left: 10px;
    }

    .group-2-header svg {
        margin-left: 10px;
    }

    .group-3-header h1 {
        margin-left: 10px;
    }

    .group-3-header p {
        margin-left: 10px;
    }

    .group-3-header svg {
        margin-left: 10px;
    }

    .video-group h1 {
        margin-left: 10px;
    }

    .video-group p {
        margin-left: 10px;
    }

    .video-group svg {
        margin-left: 10px;
    }

    .video-1 iframe {
        margin-left: 2vw;
        width: 90vw;
    }

    .video-2 iframe {
        margin-left: 2vw;
        margin-top: 20px;
        width: 90vw;
    }

    .swiper-row {
        margin-left: 2px;
    }

    .swiper-photo {
        width: 100vw;
        margin-left: 0vw;
        padding-left: 0vw;
        padding-right: 0vw;
    }
}

@media (max-width: 375px) {
    .photo-group-1 {
        height: 1180px;
    }

    .photo-grid-wrapper-2 {
        margin-top: -200px;
    }

    .photo-group-2 {
        height: 900px;
    }
}