.full-bleed--blue {
    --full-bleed-color--blue: var(--colors-blue-blue-600, #0A58CA);
    box-shadow: 0 0 0 100vmax var(--full-bleed-color--blue);
    clip-path: inset(0 -100vmax);
}

.full-bleed--black {
    --full-bleed-color--black: var(--Default-Black, #000);
    box-shadow: 0 0 0 100vmax var(--full-bleed-color--black);
    clip-path: inset(0 -100vmax);
}

.about-main {
    padding-left: 4%;
    padding-right: 4%;
}

.about__header {
    position: relative;
    padding-top: 50px;
}

.about__header .wrapper {
    display: flex;
    flex-direction: column;
}

.about__header .tagline {
    display: flex;
    gap: 24px;
}

.about__header .tagline svg {
    align-self: center;
}

.about__header .tagline .lead {
    color: var(--Gray-700, #495057);
    /* Lead/Text - Regular */
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
}

.main-content {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.about__header .main-content h4 {
    margin-top: 50px;
    width: 100%;
    max-width: 725px;
    color: var(--Color, #031B30);
    /* Diplay / Heading-4 - Semibold */
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      gap: 40px;
    }

    .about__header .main-content h4 {
        font-size: 33px;
    }
}

@media screen and (min-width: 760px) and (max-width: 990px) {
    .about__header .main-content h4 {
        font-size: 48px;
    }
}

.about__header .main-content h5 {
    max-width: 465px;
    color: var(--UCF-Black, #000);
    /* Semi-Bold / H5 Heading */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about__header .main-content .description {
    width: 100%;
    max-width: 465px;
    color: var(--Color-2, #343A40);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
}

.about__header .picture {
    padding-top: 20px;
    padding-bottom: 6%;
    width: 100%;
    height: 100%;
    max-width: 1280px;
}

@media screen and (max-width: 570px) {
    .about__header .picture {
        margin-left: -25px;
        width: 120vw;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 570px) and (max-width: 1400px) {
    .about__header .picture {
        padding-bottom: 30px;
    }
}

.background {
    position: absolute;
    left: -150px;
    top: 373px;

    fill: var(--colors-blue-blue-600, #0A58CA);
    stroke-width: 1px;
    stroke: var(--colors-blue-blue-600, #0A58CA);
}

.scholar .wrapper {
    display: flex;
    padding-bottom: 110px;
    justify-content: center;
    gap: 96px;
}

@media screen and (max-width: 991px) {
    .scholar .wrapper {
        flex-direction: column;
        padding-bottom: 10%;
    }
}

.scholar .wrapper .quote {
    color: var(--Gray-800, #343A40);
    /* Body/blockquote */
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.scholar .wrapper h1 {
    color: var(--Default-Black, #000);
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.scholar .left .text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 496px;
    flex-direction: column;
    gap: 10px;
}

.scholar .left p {
    color: var(--Secondary-color, #6C757D);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
}

.scholar .tabs {
    margin-top: -25px;
}

@media screen and (max-width: 768px) {
    .scholar .wrapper .quote {
        font-size: 14px;
    }
    .scholar .wrapper h1 {
        font-size: 32px;
    }
}

.custom-tabs {
    display: inline-flex;
    padding: var(--Spacing-24, 24px);
    align-items: flex-start;
    gap: 20px;
}

.custom-tab-link.active {
    border-bottom-color: #F9CF64 !important;
  }

.custom-tab-content .tab-pane {
    padding: 20px;
    max-width: 592px;
    color: var(--Gray-800, #343A40);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.tabs .tab-button a {
    margin-top: 30px;
    display: flex;
    width: 122px;
    height: 34px;
    justify-content: center;
    flex-shrink: 0;
    border: none;
    border-radius: 6px;
    background: var(--UCF-Bright-Gold, #FFC904);

    color: var(--Gray-Text, #444);
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tabs .tab-button a:hover {
    background: var(--UCF-Dark-Gold, #FFB400);
}

@media screen and (max-width: 1000px) {
    .custom-tabs {
        padding: 0;
        
    }
    .custom-tab-content .tab-pane {
        padding: 0;
        padding-top: 10%;
    }
}

.grants {
    padding-top: 9%;
    padding-bottom: 9%;
    gap: 10px;
    background: var(--colors-blue-blue-600, #0A58CA);
}


.grants .wrapper {
    width: 100vw;
    min-height: 426px;
}

@media screen and (max-width: 1400px) {
    .grants .wrapper {
        width: 100%;
    }
}

.grants .headline {
    max-width: 481px;
    height: 82px;
    flex-shrink: 0;
}

.grants .headline p {
    color: var(--Gray-300, #DEE2E6);
    /* Body/blockquote */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.grants .headline h1 {
    color: var(--Default-White, #FFF);
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

@media screen and (max-width: 768px) {
    .grants .headline p {
        font-size: 14px;
    }
    .grants .headline h1 {
        font-size: 32px;
    }
}

.grants .features {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    column-gap: 5%;
}

.grants .feature {
    align-items: center;
    padding-top: 8%;
    max-width: 384px;
}

.feature img {
    margin-bottom: 8.5px;
}

.feature h4 {
    display: inline-flex;
    padding-left: var(--Spacing-24, 24px);
    color: var(--Default-White, #FFF);

    /* Bold / H4 Heading */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feature p {
    margin-left: 52px;
    max-width: 332px;
    color: var(--Gray-200, #E9ECEF);

    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.pricing .statistics {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    background: var(--UCF-Black, #000);
}

.pricing .statistics .text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    padding-bottom: 8%;
}

.pricing .statistics .text h1 {
    color: var(--Default-White, #FFF);
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.pricing .statistics .text p {
    color: var(--Gray-100, #F8F9FA);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.6;
}

.pricing .statistics .charts {
    display: flex;
    width: 100%;
    gap: 75px;
    align-items: center;
}

@media screen and (max-width: 1150px) {
    .pricing .statistics .charts {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.pricing .statistics .charts .chart1 {
    display: flex;
    width: 100%;
    max-width: 574px;
    height: 481px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    border-radius: var(--Spacing-8, 8px);
    border: 1px solid var(--colors-blue-blue-500, #0D6EFD);
    background: var(--colors-blue-blue-100, #CFE2FF);
}

.pricing .statistics .charts .chart2 {
    display: flex;
    width: 100%;
    max-width: 574px;
    height: 481px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    border-radius: var(--Spacing-8, 8px);
    border: 1px solid var(--border-primary, #E1E7EC);
    background: var(--Surface-card, #FFF);
}

.pricing .statistics .charts .heading {
    display: flex;
    padding: 0px var(--Spacing-24, 24px) 12px var(--Spacing-24, 24px);
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid var(--Gray-600, #6C757D);
}

.pricing .statistics .charts .heading .title {
    display: flex;
    gap: 10px;
}

.pricing .statistics .charts .heading .title h6 {
    color: var(--Default-Black, #000);
    /* Header/H6 */
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px; /* 122.222% */
}

.pricing .statistics .charts .heading .frame {
    display: flex;
    gap: 8px var(--Spacing-8, 8px);
}

.pricing .statistics .frame .time {
    font-style: italic;
}

.pricing .statistics .frame .metric {
    display: flex;
    height: 36px;
    padding: var(--Spacing-8, 8px) 12px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid var(--Gray-600, #6C757D);
}

.pricing .statistics .frame .metric p {
    margin-top: 16px;
    color: var(--Gray-800, #343A40);;
    /* Body/Sub text/Medium */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.pricing .statistics .frame .period {
    display: flex;
    height: 36px;
    padding: var(--Spacing-8, 8px) 12px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid var(--Gray-600, #6C757D);
}

.pricing .statistics .frame .period p {
    margin-top: 16px;
    color: var(--Gray-800, #343A40);
    /* Body/Sub text/Medium */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.pricing .statistics .content .chart {
    padding: 0;
    max-width: 470px;
    min-height: 285px;
}

.policies {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    padding-bottom: 8%;
    justify-content: center;
    gap: 100px;
}

@media screen and (max-width: 1200px) {
    .policies {
        gap: 35px;
    }
}

.policies .policy {
    display: flex;
    max-width: 452px;
    min-height: 316px;
    flex-direction: column;
    gap: 15px;
}

.policies .policy .lead {
    color: var(--Gray-800, #343A40);
    /* Lead/Text - Regular */
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
}

.policies .policy h3 {
    color: var(--Default-Black, #000);
    /* Semi-Bold / H3 Heading */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.policies .policy p {
    color: var(--Gray-800, #343A40);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
}

.topVector {
    margin-top: 75px;
    width: 1568px;
    height: 52px;
    position: absolute;
    left: 5px;
    top: 1500px;
    fill: var(--colors-blue-blue-600, #0A58CA);
}

.bottomVector {
    margin-top: 80px;
    width: 1500px;
    height: 31px;
    position: absolute;
    left: 5px;
    top: 2170px;
    fill: var(--colors-blue-blue-600, #0A58CA);
}
