body {
    height: 1168px;
}

body .divider {
    /* Line */
    position: absolute;
    width: 72px;
    height: 0px;
    left: 110px;
    top: 195.5px;

    /* Primary text */
    border: 1px solid #1D2130;

    /* Line */
    position: absolute;
    width: 72px;
    height: 0px;
    left: 210px;
    top: 195.5px;
}

body .contact p {
    top: 178px;
    left: 306px;
    width: 115px;
    height: 36px;
    font: #1D2130;
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

body .message h3 {
    top: 237px;
    left: 306px;
    height: 140px;
    font-size: 58px;
    width: 480.45px;
    font-weight: 700;
    line-height: 70.19px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

body .message p {
    font: #1D2130;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 480.45px;
    opacity: 0.7;
    height: 56px;
    top: 387px;
    left: 306px;
}

body .info h5 {
    font: #1D2130;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 115px;
    height: 24px;
    top: 196px;
    left: 1105px;
}

body .info p {
    font: #1D2130;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

body .info .number p {
    width: 158px;
    height: 28px;
    top: 234px;
    left: 1105px;
}

body .info .email p {
    width: 182px;
    height: 28px;
    top: 234px;
    left: 1283px;
}

body .info .info-divider {
    /* Line */
    position: absolute;
    width: 355px;
    height: 0px;
    left: 1105px;
    top: 278px;

    /* Border */
    border: 1px solid #E5E5E5;
    transform: rotate(0.16deg);
}

body .address h5 {
    font: #1D2130;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    line-height: 24.2px;
    font-family: 'Roboto', sans-serif;
    width: 164.32px;
    height: 24px;
    top: 311px;
    left: 1105px;
}

body .address p {
    font: #1D2130;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 354.47px;
    height: 28px;
    top: 349px;
    left: 1105px;
}

body .university h5 {
    font: #1D2130;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    line-height: 24.2px;
    font-family: 'Roboto', sans-serif;
    width: 355px;
    height: 24px;
    top: 431px;
    left: 1105px;
}

body .university p {
    font: #1D2130;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 355px;
    height: 28px;
    top: 469px;
    left: 1105px;
}

body .socials a{
    margin: 7px;
    opacity: 0.8;
    color: #1D2130;
    font-size: 20px;
}

.socials {
    padding-top: 470px;
    padding-left: 231px;
}
  