header .wrapper {
    padding-top: 110px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header .wrapper h3 {
    color: var(--dark-000000, #000);
    /* Diplay / Heading-3 - Semibold */
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: normal;
}

header .wrapper p {
    max-width: 540px;
    color: var(--Text-txt-secondary, rgba(60, 60, 67, 0.85));
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.faq {
    display: flex;
    min-height: 711px;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: var(--Gray-400, #CED4DA);
}

.faq .wrapper {
    padding: 65px 110px;
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    header .wrapper {
        padding-top: 50px;
        margin-bottom: -70px;
    }
    header .wrapper h3 {
        font-size: 45px;
    }
    .faq .wrapper {
        padding: 65px 24px;
    }
}

.faq .wrapper .questions {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.accordion {
    display: flex;
    min-height: 558px;
    flex-direction: column;
    gap: 14px;
    flex: 1 0 0;
    z-index: 0;
}

.accordion-button {
    color: var(--Text-txt-primary, #000);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

    display: flex;
    padding: 18px var(--Spacing-24, 24px);
    align-items: center;
    gap: 16px;
    align-self: stretch;
    flex: 1 0 0;
}

.certifications-link{
    color: blue;
    text-decoration: underline;
}