.support_body {
    height: 3250px;
}

.support_header {
    height: 420px;
}

.header_title h3{
    line-height: 70px;
    font-weight: 700;
    font-size: 58px;
    position: absolute;
    text-wrap: nowrap;
    left: 220px;
    top: 190px;
    font-family: Inter;
}

.header_bio p {
    opacity: 0.8;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    position: absolute;
    text-wrap: wrap;
    left: 220px;
    top: 285px;
    width: 750px;
    font-family: Inter;
}

.header_line {
    position: absolute;
    text-wrap: nowrap;
    left: 220px;
    top: 370px;
    padding-top: 15px;
}

.top_line_decor {
    top: 485px;
    left: 220px;
    min-width: 1494px;
    position: absolute;
}

.contributions {
    width: 100vw;
    height: 1000px;
    font-family: Inter;
    background: #0A58CA;
    margin-left: calc(-50vw + 50%);
}

.contributions_line {
    top: 635px;
    left: 220px;
    position: absolute;
}

.contributions_title {
    top: 630px;
    left: 315px;
    color: white;
    font-size: 21px;
    font-weight: 370;
    line-height: 36px;
    position: absolute;
}

.contributions-div {
    position: relative;
    margin-top: -495px;
    margin-left: -60px;
}

.contributions_photo {
    position: relative;
    margin-top: 170px;
    margin-left: 50px;
    padding-left: 120px;
    padding-right: 40px;
}

.contributions_photo img {
    width: 566px;
    height: 658px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.contributions_header h1{
    top: 695px;
    left: 220px;
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-wrap: nowrap;
    line-height: 48px;
    position: absolute;
}

.contributions_bio {
    top: 775px;
    left: 220px;
    color: #ABB5BE;
    font-size: 16px;
    font-weight: 400;
    text-wrap: nowrap;
    line-height: 28px;
    position: absolute;
}

.bottom_line_decor {
    top: 1508px;
    left: 220px;
    height: 28px;
    min-width: 1494px;
    position: absolute;
}

.contributions_divider {
    top: 900px;
    left: 220px;
    position: absolute;
}

.contributions_icons {
    top: 855px;
    left: 245px;
    display: flex;
    gap: 85px;
    margin-top: 50px;
    position: absolute;
    flex-direction: column;
}

.contributions_text {
    top: 900px;
    left: 300px;
    display: flex;
    gap: 4px;
    position: absolute;
    flex-direction: column;
}

.contributions_text h4 {
    line-height: 29px;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.contributions_text p {
    text-wrap: nowrap;
    line-height: 25px;
    font-weight: 400;
    color: #ABB5BE;
    font-size: 16px;
}

.help {
    font-family: Inter;
    height: 900px;
}

.help-div {
    position: relative;
    margin-top: -1500px;
    margin-left: -205px;
}

.help_title h2{
    position: absolute;
    line-height: 57px;
    text-wrap: nowrap;
    font-weight: 600;
    color: #000000;
    font-size: 48px;
    top: 1650px;
    left: 340px;
}

.help_bio1 p {
    position: absolute;
    line-height: 28px;
    text-wrap: nowrap;
    font-weight: 400;
    color: #6C757D;
    font-size: 16px;
    top: 1750px;
    left: 340px;
}

.help_photo {
    position: absolute;
    top: 1920px;
    left: 485px;
}

.help_photo img {
    width: 780px;
    height: 620px;
}

.help_bio2 p{
    position: absolute;
    line-height: 28px;
    text-wrap: nowrap;
    font-weight: 400;
    color: #6C757D;
    font-size: 16px;
    top: 2600px;
    left: 340px;
}

.donation {
    font-family: Inter;
    height: 900px;
}

.donation-div {
    position: relative;
    margin-top: -2150px;
    margin-left: -250px;
}

.donation_line {
    top: 2600px;
    left: 220px;
    color: #6C757D;
    position: absolute;
}

.donation_header p{
    top: 2595px;
    left: 315px;
    font-size: 21px;
    color: #6C757D;
    font-weight: 370;
    line-height: 36px;
    text-wrap: nowrap;
    position: absolute;
}

.donation_title h1{
    top: 2670px;
    left: 220px;
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    line-height: 48px;
    text-wrap: nowrap;
    position: absolute;
}

.donation_bio p{
    top: 2760px;
    left: 220px;
    font-size: 16px;
    color: #6C757D;
    font-weight: 400;
    line-height: 28px;
    text-wrap: nowrap;
    position: absolute;
}

.donation_btn {
    top: 2860px;
    left: 220px;
    position: absolute;
}

.donation_btn button {
    width: 119px;
    height: 54px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 4px;
    background-color: #FFC904;
}

.donation_btn button:hover a{
    color: white;
}

.donation_btn a {
    color: black;
    text-decoration: none;
}

.donation_photo {
    position: relative;
    margin-top: 335px;
    margin-left: 360px;
    padding-left: 550px;
}

.donation_photo img {
    width: 459px;
    height: 517px;
}

@media (max-width: 1350px) {
    .support_header {
        position: relative;
        margin-left: -130px;
        top: -90px;
    }
}

@media (max-width: 1199px) {
    .support_header {
        position: relative;
        margin-left: -200px;
        top: -90px;
    }
}

@media (max-width: 991px) {
    .support_header {
        position: relative;
        margin-left: -320px;
        top: -90px;
    }
}

@media (max-width: 960px) {
    .support_header {
        position: relative;
        margin-left: -240px;
        top: -90px;
    }

    .support_header .header_title h3 {
        text-wrap: wrap;
    }

    .support_header .header_bio p {
        width: 650px;
        margin-top: 70px;
    }

    .header_line {
        margin-top: 80px;
    }
}

@media (max-width: 767px) {
    .support_header {
        position: relative;
        margin-left: -240px;
        height: 540px;
        top: -90px;
    }

    .support_header .header_title h3 {
        text-wrap: wrap;
    }

    .support_header .header_bio p {
        width: 500px;
        margin-top: 130px;
    }

    .header_line {
        margin-top: 150px;
    }

    .top_line_decor {
        top: 605px;
        left: 220px;
        min-width: 1494px;
        position: absolute;
    }

    .help {
        font-family: Inter;
        height: 700px;
    }
}

@media (max-width: 575px) {
    .support_header {
        position: relative;
        margin-left: -200px;
        height: 540px;
        top: -90px;
    }

    .support_header .header_title h3 {
        text-wrap: wrap;
    }

    .support_header .header_bio p {
        width: 400px;
        margin-top: 130px;
    }

    .header_line {
        margin-top: 170px;
        padding-top: 25px;
    }
}

@media (max-width: 1595px) {
    .contributions-div {
        margin-left: -120px;
    }
}

@media (max-width: 1299px) {
    .contributions_photo {
        margin-top: 210px;
        margin-left: 50px;
        padding-left: 120px;
        padding-right: 40px;
    }

    .contributions_photo img{
        width: 500px;
        height: 600px;
    }
}

@media (max-width: 1220px) {
    .contributions_photo {
        margin-top: 350px;
        margin-left: 50px;
        padding-left: 120px;
        padding-right: 40px;
    }

    .contributions_photo img{
        width: 400px;
        height: 550px;
    }
}

@media (max-width: 1010px) {
    .contributions-div {
        margin-left: -170px;
    }

    .contributions_photo {
        margin-top: 400px;
        margin-left: 50px;
        padding-left: 120px;
        padding-right: 40px;
    }

    .contributions_photo img{
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 850px) {
    .contributions-div {
        margin-left: -170px;
    }

    .contributions_photo {
        margin-top: 430px;
        margin-left: -50px;
        padding-right: 20px;
    }

    .contributions_photo img{
        width: 550px;
        height: 600px;
        margin-top: 500px;
        margin-left: -270px;
    }

    .contributions {
        width: 100vw;
        height: 1650px;
        background: #0A58CA;
        margin-left: calc(-50vw + 50%);
    }

    .bottom_line_decor {
        top: 2159px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }

    .support_body {
        height: 4000px;
    }

    .help-div {
        position: relative;
        margin-top: -1500px;
    }
}

@media (max-width: 767px) {
    .bottom_line_decor {
        top: 2279px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }
}

@media (max-width: 625px) {
    .contributions_photo img{
        width: 350px;
        height: 450px;
        margin-top: 750px;
        margin-left: -180px;
    }

    .contributions_header h1 {
        position: relative;
        text-wrap: wrap;
        margin-left: -10px;
    }

    .contributions_bio p {
        position: relative;
        margin-top: 40px;
        text-wrap: wrap;
        width: 400px;
    }

    .contri-icon-div {
        position: relative;
        margin-top: -60px;
        margin-left: -10px;
    }

    .contributions {
        width: 100vw;
        height: 1700px;
        background: #0A58CA;
        margin-left: calc(-50vw + 50%);
    }

    .contributions_text p {
        text-wrap: wrap;
        width: 250px;
    }

    .contributions_icons {
        gap: 135px;
    }

    .contributions_divider svg{

        margin-top: 42px;
    }

    .bottom_line_decor {
        top: 2329px;
        left: 220px;
        height: 28px;
        min-width: 1494px;
        position: absolute;
    }

    .support_body {
        height: 3800px;
    }
}

@media (max-width: 1401px) {
    .help-div {
        margin-left: -310px;
    }
}

@media (max-width: 1199px) {
    .help-div {
        margin-left: -410px;
    }
}

@media (max-width: 1308px) {
    .support_body {
        height: 3350px;
    }

    .help {
        font-family: Inter;
        height: 1000px;
    }

    .help-div {
        margin-left: -380px;
    }

    .help_title h2{
        position: relative;
        text-wrap: wrap;
        margin-left: 120px;
    }
    
    .help_bio1 p {
        position: relative;
        text-wrap: wrap;
        margin-top: -70px;
        margin-left: 120px;
    }

    .help_photo {
        position: relative;
        margin-top: -140px;
        margin-left: 120px;
        left: 420px;
    }
    
    .help_photo img{
        width: 830px;
    }
    
    .help_bio2 p{
        position: relative;
        text-wrap: wrap;
        margin-top: -620px;
        margin-left: 120px;
    }
}

@media (max-width: 991px) {
    .help_photo img{
        width: 595px;
    }
}

@media (max-width: 767px) {
    .help_photo img{
        width: 410px;
        height: 390px;
    }
}

@media (max-width: 541px) {
    .help_photo img{
        width: 350px;
    }
}

@media (max-width: 467px) {
    .help_photo img{
        width: 300px;
    }
}

@media (max-width: 1550px) {
    .donation-div {
        position: relative;
        margin-top: -2150px;
        margin-left: -200px;
    }

    .donation_photo img {
        position: relative;
        margin-left: -60px;
    }
}

@media (max-width: 1405px) {
    .donation-div {
        margin-left: -250px;
    }

    .donation_photo img {
        margin-left: -200px;
    }
}

@media (max-width: 1235px) {
    .donation-div {
        margin-left: -210px;
    }

    .donation_photo img {
        margin-left: -230px;
    }
}

@media (max-width: 1199px) {
    .donation-div {
        margin-left: -270px;
    }

    .donation_photo img {
        margin-left: -350px;
        margin-top: 0px;
    }

    .help_photo {
        position: relative;
        margin-top: -140px;
        margin-left: 120px;
        left: 340px;
    }
}

@media (max-width: 1102px) {
    .donation-div {
        margin-left: -230px;
    }

    .donation_photo img {
        margin-left: -350px;
        margin-top: 0px;
    }
}

@media (max-width: 991px) {
    .support_body {
        height: 3800px;
    }

    .donation {
        height: 1450px;
    }

    .donation-div {
        margin-left: -130px;
    }

    .donation_photo img {
        margin-left: -800px;
        margin-top: 500px;
        width: 498px;
        height: 516px;
    }
}

@media (max-width: 850px) {
    .support_body {
        height: 4400px;
    }

    .donation {
        height: 1450px;
    }

    .donation_bio p {
        text-wrap: wrap;
        width: 540px;
    }

    .donation_btn {
        margin-top: 0px;
    }

    .donation-div {
        margin-left: -130px;
    }

    .donation_photo img {
        margin-left: -815px;
        margin-top: 450px;
        width: 498px;
        height: 516px;
    }
}

@media (max-width: 767px) {
    .support_body {
        height: 4580px;
    }

    .donation {
        height: 1450px;
    }

    .donation_bio p {
        text-wrap: wrap;
        width: 540px;
    }

    .donation_btn {
        margin-top: 0px;
    }

    .donation-div {
        margin-left: -200px;
        margin-top: -2180px;
    }

    .donation_photo img {
        margin-left: -900px;
        margin-top: 500px;
        width: 498px;
        height: 516px;
    }
}

@media (max-width: 669px) {
    .support_body {
        height: 4580px;
    }

    .donation {
        height: 1450px;
    }

    .donation_bio p {
        text-wrap: wrap;
        width: 440px;
    }

    .donation-div {
        margin-left: -160px;
        margin-top: -2200px;
    }

    .donation_btn {
        margin-top: 0px;
    }
}

@media (max-width: 625px) {
    .support_body {
        height: 4600px;
    }
}

@media (max-width: 575px) {
    .support_body {
        height: 4500px;
    }

    .donation-div {
        margin-left: -150px;
        margin-top: -2190px;
    }

    .donation_photo img {
        margin-left: -900px;
        margin-top: 400px;
        width: 498px;
        height: 516px;
    }
}

@media (max-width: 574px) {
    .support_body {
        height: 4650px;
    }

    .donation-div {
        margin-left: -150px;
        margin-top: -2130px;
    }

    .donation_photo img {
        margin-left: -900px;
        margin-top: 500px;
        width: 498px;
        height: 516px;
    }
}

@media (max-width: 541px) {
    .support_body {
        height: 4500px;
    }

    .donation-div {
        margin-top: -2150px;
    }

    .donation_photo img {
        margin-top: 500px;
        margin-left: -860px;
        width: 398px;
        height: 416px;
    }
}

@media (max-width: 536px) {
    .support_body {
        height: 4500px;
    }

    .donation-div {
        margin-top: -2150px;
    }

    .donation_photo img {
        margin-top: 500px;
        margin-left: -860px;
        width: 398px;
        height: 416px;
    }
}

@media (max-width: 521px) {
    .support_body {
        height: 4600px;
    }

    .donation-div {
        margin-top: -2100px;
        margin-left: -130px;
    }

    .donation_title h1 {
        text-wrap: wrap;
        margin-top: -25px;
    }

    .donation_bio p {
        width: 350px;
        margin-top: 60px;
    }

    .donation_btn {
        margin-top: 80px;
    }

    .donation_photo img {
        margin-top: 600px;
        margin-left: -885px;
        width: 398px;
        height: 416px;
    }
}

@media (max-width: 510px) {
    .support_body {
        height: 4600px;
    }

    .donation-div {
        margin-top: -2100px;
        margin-left: -130px;
    }

    .donation_title h1 {
        text-wrap: wrap;
        margin-top: -25px;
    }

    .donation_bio p {
        width: 350px;
        margin-top: 60px;
    }

    .donation_btn {
        margin-top: 80px;
    }

    .donation_photo img {
        margin-top: 600px;
        margin-left: -885px;
        width: 398px;
        height: 416px;
    }

    .help_title h2 {
        font-size: 46px;
    }
}

@media (max-width: 457px) {
    .contributions_bio p {
        margin-top: 40px;
        text-wrap: wrap;
        width: 300px;
    }
    
    .support_body {
        height: 4700px;
    }

    .donation-div {
        margin-top: -2050px;
        margin-left: -130px;
    }

    .donation_title h1 {
        text-wrap: wrap;
        margin-top: -25px;
    }

    .donation_bio p {
        width: 350px;
        margin-top: 60px;
    }

    .donation_btn {
        margin-top: 80px;
    }

    .donation_photo img {
        margin-top: 700px;
        margin-left: -905px;
        width: 398px;
        height: 416px;
    }
}

@media (max-width: 450px) {
    .donation-div {
        margin-top: -2000px;
        margin-left: -130px;
    }
}

@media (max-width: 428px) {
    .support_header .header_title h3{
        margin-top: -50px;
    }

    .support_header .header_bio p {
        width: 300px;
        margin-top: 75px;
    }

    .contributions {
        height: 1700px;
    }

    .contributions_text p {
        text-wrap: wrap;
        width: 200px;
    }

    .contributions_divider svg{
        height: 220px;
        margin-top: 192px;
    }
    
    .contributions_icons {
        gap: 160px;
    }

    .contributions_photo img{
        margin-top: 760px;
    }

    .bottom_line_decor {
        top: 2328px;
    }

    .help-div {
        margin-left: -460px;
    }

    .help_photo {
        position: relative;
        margin-top: -130px;
        margin-left: 150px;
    }

    .support_body {
        height: 4800px;
    }

    .donation-div {
        margin-top: -1950px;
        margin-left: -200px;
    }

    .donation_photo img {
        margin-top: 750px;
        margin-left: -925px;
    }
}

@media (max-width: 414px) {
    .support_body {
        height: 4900px;
    }

    .donation-div {
        margin-top: -1850px;
        margin-left: -200px;
    }

    .donation_photo img {
        margin-top: 850px;
        margin-left: -925px;
    }
}

@media (max-width: 376px) {
    .support_header {
        height: 630px;
    }

    .top_line_decor {
        top: 695px;
    }


    .support_header .header_bio p {
        margin-top: 150px;
    }

    .header_line {
        margin-top: 250px;
    }

    .contributions {
        height: 1750px;
    }

    .contributions_bio p {
        margin-top: 135px;
    }

    .contributions_photo img{
        margin-top: 845px;
        margin-left: -70px;
    }

    .bottom_line_decor {
        top: 2468px;
    }

    .help_title h2{
        font-size: 44px;
    }

    .help_photo {
        margin-top: -130px;
        margin-left: 130px;
    }

    .support_body {
        height: 5150px;
    }

    .donation-div {
        margin-top: -1700px;
    }

    .donation_photo img {
        margin-top: 1000px;
        margin-left: -945px;
    }
}