@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    background: var(--UCF-White, #FFFFFF);
}

.nav-container {
    top: 0;
    z-index: 1;
    width: 100%;
    position: sticky;
    background-color: black;
}

.navbar {
    width: 95%;
    height: 90px;
    display: grid;
    margin: 0 auto;
    max-width: 1720px;
    align-items: center;
    grid-template-columns: 0.2fr auto 0.2fr;
}

.site-logo {
    justify-self: start;
    font-weight: 400;
    font-size: 24px;
    width: 110px;
    height: 44px;
    color: white;
    text-decoration: none;
}


.search-icon {
    width: 16px;
    height: 16px;
}

.search-button {
    justify-self: end;
    margin-top: -5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 172px;
    list-style: none;
    padding-top: 25px;
    position: absolute;
    background-color: black;
    border: 1px solid #000000;
    flex-direction: column;
    display: flex;
    display: none;
    z-index: 0;
}

.dropdown-content li{
    display: block;
    padding: 4px 4px 4px 4px;
}

.dropdown-content li a{
    padding-bottom: 6px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.first-element {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3D8BFD;
}

.navbar-menu {
    gap: 40px;
    display: grid;
    padding-top: 2.3%;
    list-style: none;
    font-weight: 400;
    margin-right: 25px;
    text-align: center;
    justify-self: center;
    grid-template-columns: repeat(9, auto);
}

.navbar-toggle .bar {
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background: #FFFFFF;
}   

.navbar-toggle {
    display: none;
}

@media (max-width: 1300px) {
    .navbar-menu {
        gap: 30px;
        display: grid;
        padding-top: 2.3%;
        list-style: none;
        font-weight: 400;
        margin-right: 55px;
        text-align: center;
        justify-self: center;
        grid-template-columns: repeat(9, auto);
    }

    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 1125px) {
    .navbar-menu {
        gap: 20px;
        display: grid;
        padding-top: 2.3%;
        list-style: none;
        font-weight: 400;
        margin-right: 35px;
        text-align: center;
        justify-self: center;
        grid-template-columns: repeat(9, auto);
    }

    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar-menu {
        gap: 10px;
        display: grid;
        padding-top: 2.3%;
        list-style: none;
        font-weight: 400;
        margin-right: 45px;
        text-align: center;
        justify-self: center;
        grid-template-columns: repeat(9, auto);
    }
    
    .dropdown-content {
        width: 172px;
        list-style: none;
        padding-top: 28px;
        position: absolute;
        background-color: black;
        border: 1px solid #000000;
        flex-direction: column;
        display: flex;
        display: none;
        z-index: 0;
    }

    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 893px) {
    .navbar {
        z-index: 1;
        width: 100%;
    }

    .nav-container {
        top: 0;
        position: sticky;
    }

    .navbar-toggle {
        top: 34%;
        right: 5%;
        display: block;
        cursor: pointer;
        position: absolute;
    }

    .navbar-toggle .bar {
        display: block;
    }

    .toggle-border {
        width: 170%;
        margin-left: -130px;
        padding-bottom: 15px;
        border-spacing: 10px;
        border-top-width: 1px;
        border-top-style: solid;
        max-width: none !important;
        border-top-color: #3D8BFD;
    }

    .navbar-menu {
        top: 0;
        margin: 0;
        width: 100%;
        z-index: -1;
        display: none;
        padding-top: 100px;
        position: absolute;
        padding-left: 15vw;
        padding-right: 15vw;
        background: #000000;
        grid-template-columns: auto;
    }

    .navbar-menu.open {
        display: grid;
    }

    .site-logo {
        margin-left: 20px;
    }

    .search-button {
        display: none;
    }

    .navbar-menu li {
        width: 100%;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        margin-bottom: 3px;
    }

    .navbar svg {
        display: none;
        vertical-align: middle;
    }

    .dropdown:hover .dropdown-content {
        display: none !important;
    }

    .navbar-menu #element li, .dropdown #dropbtn {
        padding-bottom: 6px;
        border-bottom-width: 2px;
        border-bottom-style: solid !important;
        border-bottom-color: transparent !important;
    }

    .dropdown:not(:hover) #dropbtn li:not(:hover).active {
        padding-bottom: 6px;
        border-bottom-width: 2px;
        border-bottom-color: #FFC904;
        border-bottom-style: none !important;
    }

    .navbar-menu #element a:hover, .dropdown #dropbtn a:hover, .navbar-menu #element a:focus, .dropdown #dropbtn a:focus {
        padding-bottom: 6px;
        border-bottom-width: 2px;
        border-bottom-color: #FFC904;
        -webkit-text-stroke: 0.5px white;
        border-bottom-style: solid !important;
    }
}


.navbar-menu a {
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navelement {
    display: flex;
}

.navbar-menu #element li:hover {
    padding-bottom: 6px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    -webkit-text-stroke: 0.5px white;
}

.dropdown #navelement a:not(.active):hover, .navbar-menu #element a:not(.active):hover, .dropdown:not(.active):hover #dropbtn{
    padding-bottom: 6px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #FFC904;
    -webkit-text-stroke: 0.5px white;
}

.dropdown #navelement li a:not(:hover).active, .navbar-menu #element li:not(:hover).active, .dropdown:not(:hover) #dropbtn li:not(:hover).active{
    padding-bottom: 6px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #FFC904;
    -webkit-text-stroke: 0.5px white;
}

.footer {
    background-color: #000000;
    border: #FFFFFF;
    border-width: 1px;
    color: #FFFFFF;
    height: 260px;
    width: 100%;
    margin: 0 auto;
}

.ucf-logo {
    position: absolute;
    margin-top: 70px;
}

.footer-nav {
    position: absolute;
    margin-top: 100px;
}

.footer-nav a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin: 18px;
    text-decoration: none;
}

.footer-icons {
    position: absolute;
    margin-top: 55px;
    padding-left: 135px;
}

.footer-icons a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-right: 16px;
}

.footer-nav a:hover {
    text-decoration-line: underline;
}

.footer-btn {
    margin-top: 55px;
    margin-left: 350px;
    position: absolute;
}

.footer-btn img {
    width: 70px;
}

.footer-btn a {
    text-decoration: none;
    line-height: 18.75px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.footer-cr {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    opacity: 0.8;
    line-height: 30px;
}

.footer hr {
    opacity: 1;
    display: relative;
    margin-top: 180px;
}

@media (max-width: 1399px) {
    .footer-btn {
        margin-top: 55px;
        margin-left: 290px;
        position: absolute;
    }

    .footer-nav {
        position: absolute;
        margin-top: 100px;
        margin-left: -20px;
    }
    
    .footer-icons {
        position: absolute;
        margin-top: 55px;
        padding-left: 105px;
    }
}

@media (max-width: 1199px) {
    .footer-btn {
        margin-top: 55px;
        margin-left: 230px;
        position: absolute;
    }

    .footer-nav {
        position: absolute;
        margin-top: 100px;
        margin-left: -60px;
    }
    
    .footer-icons {
        position: absolute;
        margin-top: 55px;
        padding-left: 70px;
    }
}

@media (max-width: 991px) {
    .footer-btn {
        margin-top: 55px;
        margin-left: 150px;
        position: absolute;
    }

    .footer-nav {
        position: absolute;
        margin-top: 100px;
        margin-left: -45px;
    }
    
    .footer-icons {
        position: absolute;
        margin-top: 55px;
        padding-left: 70px;
    }

    .footer-icons a {
        padding-right: 5px;
    }

    .footer-nav a{
        margin: 7px;
    }
}

@media (max-width: 767px) {
    .footer-btn {
        margin-top: 55px;
        margin-left: 90px;
        position: absolute;
    }

    .footer-nav {
        display: none !important;
    }
    
    .footer-icons {
        display: none !important;
    }
}

@media (max-width: 575px) {
    .ucf-logo {
        position: absolute;
        margin-top: 70px;
        margin-left: 20px;
    }
    
    .footer-btn {
        margin-top: 55px;
        margin-left: 10vw;
        position: absolute;
    }

    .footer hr {
        opacity: 1;
        width: 87vw;
        margin-left: 30px;
        display: relative;
        margin-top: 180px;
    }
}

@media (max-width: 390px) {
    .footer-btn {
        margin-top: 55px;
        margin-left: 6vw;
        position: absolute;
    }
}

.admin {
    padding: 0 1.2rem;
}

.login-container {
    height: 900px;
}

.login-container .login {
    margin-top: 70px;
    margin-bottom: 110px;
}

.login-container .login h1 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 28px;
    display: block;
    color: #444;
}

.login-container .login label {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    display: block;
    color: #444;
}

.login-container .login input {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.login-container .login button {
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    transition: background 0.3s;
    background: var(--colors-blue-blue-600, #0A58CA);
}

.login-container .login button:hover {
    background: black;
}