* {
 
}

body {

}

.nav {


}

.site-logo {

}

.nav ul {
    list-style: none;
    gap: 40px;
}

.nav a {
    text-decoration: none;
}

.nav li.active {

}

.nav li:hover {

}

.admin {
    padding: 0 1.2rem;
}
