a {
    /* Remove default underline for links */
    text-decoration: none;
}

.full-bleed {
    --full-bleed-color: var(--Gray-400, #CED4DA);
    box-shadow: 0 0 0 100vmax var(--full-bleed-color);
    clip-path: inset(0 -100vmax);
}

.full-bleed--black {
    --full-bleed-color--black: var(--Default-Black, #000);
    box-shadow: 0 0 0 100vmax var(--full-bleed-color--black);
    clip-path: inset(0 -100vmax);
}

.full-bleed--blue {
    --full-bleed-color--blue: var(--colors-blue-blue-600, #0A58CA);
    box-shadow: 0 0 0 100vmax var(--full-bleed-color--blue);
    clip-path: inset(0 -100vmax);
}

.hero {
    position: relative;
    display: inline-block;
    overflow-y: clip;
}

@media screen and (max-width: 768px) {
    .hero {
        overflow-y: visible;
    }
}

.hero img {
    width: 100%;
    height: auto;
    transform: scale(1.327);
    
}

.header {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 881px;
    max-height: 140px;
    top: 45%;
    left: -7%;
    text-align: center;
    padding: 2%;
}

.hero .header h3 {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 881px;
    max-height: 140px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.95);
    /* Diplay / Heading-3 - Semibold */
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero .header p {
    width: 100%;
    height: 100%;
    max-width: 455.722px;
    max-height: 44.662px;
    flex-shrink: 0;
    text-align: left;
    color: #FFF;
    /* p Medium - 20px */
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

.hero .header button {
    display: flex;
    width: 178px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    background: var(--UCF-Bright-Gold, #FFC904);
    backdrop-filter: blur(40px);

    color: var(--Gray-800, #343A40);
    text-align: right;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-1 {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-top: 146.5px;
    padding-bottom: 100.5px;
    flex-direction: column;
    align-items: center;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%221048%22%20height%3D%22817%22%20viewBox%3D%220%200%201048%20817%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1047%20816L-8.45988%201L-21%20447.872L355.203%20670.324L271.603%20601.423L478.515%20615.203L710.507%20713.633L142.022%20341.568L1047%20816Z%22%20fill%3D%22%230A58CA%22%20stroke%3D%22%230A58CA%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
}

.section-1 svg {
    z-index: -1;
}

.section-1 .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

.section-1 .wrapper img {
    width: 100%;
    height: 100%;
    max-width: 624px;
    max-height: 490px;
    flex-shrink: 0;
}

.section-1 .wrapper .text {
    display: flex;
    width: 496px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.section-1 .wrapper .text .quote {
    color: var(--Secondary-Dark-Color, #54595E);

    /* Body/blockquote */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.section-1 .wrapper .text h1 {
    color: var(--Default-Black, #000);

    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.section-1 .wrapper .text p {
    width: 486px;
    color: var(--Secondary-Dark-Color, #54595E);

    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
}

.sponsors {
    background-color: var(--full-bleed-color);
    display: flex;
    height: 100%;
    padding: 100px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.sponsors h1 {
    color: var(--Gray-900, #212529);

    /* Extrabold / H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 45px;
}

.logos {
    margin-top: 46px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 96px;
    align-self: stretch;
}

.competitions {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    align-self: stretch;
    background: #000;
}

.competitions .top {
    width: 110%;
    height: 100%;
    max-width: 1300px;
    max-height: 156px;
    align-content: center;
}

.competitions .top p {
    margin-bottom: 0px;
    color: var(--Default-White, #FFF);
    /* Lead/Text - Regular */
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
}

.competitions .top h1 {
    color: #FFF;
    width: 100%;
    max-width: 490px;
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.competitions .top button {
    margin-top: -8.3%;
    float: right;
    height: 48px;
    width: 184px;
    border: none;
    border-radius: 0px;
    background: var(--UCF-Bright-Gold, #FFC904);

    color: var(--Default-Black, #000);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}

.competitions .list {
    display: flex;
    flex-wrap: wrap;
    width: 110%;
    height: 100%;
    max-width: 1298px;
    min-height: 463px;
}

.competitions .list .main {
    width: 100%;
    height: 100%;
    max-width: 490px;
    min-height: 463px;
}

.competitions .list .main img {
    z-index: -1;
}

.competitions .list .main .date {
    position: absolute;
    z-index: 10;
    margin-top: -351px;
    display: flex;
    flex-wrap: wrap;
    width: 93.432px;
    padding: var(--Spacing-8, 8px) var(--Spacing-24, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-8, 8px);
    background: var(--UCF-Bright-Gold, #FFC904);

    color: var(--Default-Black, #000);
    text-align: center;
    /* Body/blockquote */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.competitions .list .main .description {
    width: 100%;
    height: 100%;
    max-width: 490px;
    min-height: 88px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-8, 8px);
}

.competitions .list .main .description h5 {
    margin-top: 25px;
    color: #FFF;

    /* Bold / H5 Heading */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.competitions .list .main .description p {
    color: var(--Default-White, #FFF);

    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.competitions .list .others {
    margin-left: 182px;
    float: right;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 624px;
    min-height: 456px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .competitions .list .others {
        margin-left: 0px;
    }
}

.competitions .list .others .item {
    height: 100%;
    max-height: 152px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0px;
    align-items: center;
    gap: 46px;
    border-bottom: 1px solid var(--Default-White, #FFF);
}

.competitions .list .others .item .date {
    display: flex;
    width: 88px;
    height: 88px;
    padding: var(--Spacing-8, 8px) var(--Spacing-24, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-8, 8px);
    background: #DFDFDF;

    color: var(--Default-Black, #000);
    text-align: center;
    /* Body/blockquote */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.competitions .list .others .item h5 {
    width: 100%;
    max-width: 490px;
    margin-top: -55px;
    color: var(--Default-White, #FFF);
    /* Bold / H5 Heading */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.competitions .list .others .item p {
    width: 490px;
    margin-left: 134px;
    margin-top: -125px;
    color: var(--Default-White, #FFF);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.news {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}

.news__svg--black {
    margin-top: -2px;
    margin-left: -100px;
}

.news__svg--blue {
    position: absolute;
    margin-top: 220px;
    top: 10;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    max-width: none;
}

.news__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-24, 24px);
}

.news__header__tagline {
    display: flex;
    align-items: center;
    gap: var(--Spacing-24, 24px);
}

.news__header__tagline__text {
    color: var(--Gray-700, #495057);
    /* Lead/Text - Regular */
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
}

.news__header__text {
    color: var(--Gray-800, #343A40);
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.news__articles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    align-self: stretch;
}

@media screen and (max-width: 1400px) {
    .news__articles {
        flex-wrap: wrap;
    }
}

.news__article {
    width: 410px;
    height: 534px;
    flex-shrink: 0;
    background-color: var(--Light-Base-Color-White, #FFF);
    border: 1px solid var(--Gray-500, #ADB5BD);
}

.news__article__image {
    width: 100%;
    height: 312px;
    border-bottom: 1px solid var(--Gray-500, #ADB5BD);
}

.news__article__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__article__title {
    margin-top: 16px;
    margin-left: 22px;
    width: 365.676px;
    color: var(--Text-Title-Text, #333);
    /* Bold / H4 Heading */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news__article__info {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-left: 22px;
    width: 206.385px;
    height: 15px;
    flex-shrink: 0;
}

.news__article__info__author {
    color: var(--Gray-600, #6C757D);
    /* Body/Small */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news__article__info__date {
    color: var(--Gray-600, #6C757D);
    /* Body/Small */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news__article__button {
    margin-top: 44px;
    margin-left: 22px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.news__article__button__text {
    color: var(--colors-blue-blue-600, #0A58CA);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photos {
    display: flex;
    padding: 75px 100px;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    align-self: stretch;
    background: var(--colors-blue-blue-600, #0A58CA);
}

.photos__header {
    display: flex;
    width: 255px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-24, 24px);
}

.photos__header p {
    color: var(--Gray-100, #F8F9FA);
    text-align: center;
    /* Lead/Text - Regular */
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
}

.photos__header h1 {
    color: var(--Gray-100, #F8F9FA);
    text-align: center;
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.photos__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: center;
}

.photos__main__row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

@media screen and (max-width: 991px) {
    .photos__main__row {
        flex-wrap: wrap;
    }
}

.medium {
    padding: 100px;
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
}

.medium__yt {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 491px;
}

.medium__text {
    margin-left: 82px;
    display: flex;
    height: 303px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-self: center;
}

@media screen and (max-width: 1200px) {
    .medium {
        flex-wrap: wrap;
    }
    .medium__text {
        margin-left: 0px;
    }
}

.medium__text h1 {
    width: 488px;
    color: var(--Default-Black, #000);
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.medium__text p {
    color: var(--Secondary-Dark-Color, #54595E);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.large {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--Default-Black, #000);
}

.large__header {
    display: flex;
    width: 1500px;
    height: 303px;
    padding: 0px 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.large__header p {
    color: var(--Default-White, #FFF);
    text-align: center;
    /* Lead/Text - Regular */
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
}

.large__header h1 {
    color: var(--Default-White, #FFF);
    text-align: center;
    /* Bold/H1 Heading */
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.large__header svg {
    margin-top: 24px;
}

.large__yt {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1260px;
    min-height: 568px;
    margin-bottom: 116px;
}
